page-edit-menu-page {
    .segment-md>.segment-button{
        font-size : 3.0vw !important;  //2.4
    }

    .segment-md>.segment-button {
        border-width: 2px !important;
        border-style: solid !important;
        border-color: #3474e1 !important;
        padding:0px !important;
        height: 3rem;
        line-height: 2.5rem;
    }

    // .segment-md>.segment-activated, button {
    //     background-color: #387ef5 !important;
    //     color: white !important;
    //     height : 20px;
    //     font-size: 13px;
    // }

    .item-ios{
        padding-left: 5px;
    }

    .nonColorBtn{
        float: left;
    }


    .segment-ios .segment-button:last-of-type {
        margin-left: 0;
        border-left-width: 1px !important;
        border-radius: 0; 
    }
    .segment-ios .segment-button:first-of-type {
        margin-right: 0;
        border-radius: 0; 
        border-left-width: 1px;
    }
    // ion-label{
    //     width :150px !important;
    // }
    .categoryInfo, .categoryInfo> ion-row{
        padding-left: 0;
        margin-left: 0;
    }

    // .categoryInfo > ion-row > ion-col > .categoryBtn{
    //     text-align: right;
    //     //width: 20px;
    // }

    // .selectCategory > ion-item, .selecteMenus > ion-item {
    //     text-align: right;
    //     font-size : 1.0vw !important;
    // }

    .selecteMenus{
        padding:10px;
    }

    .input-wrapper .label{
        font-weight: 600;
        width:110px;
    }

    .menuItems{
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

    .menuItemInfo{
        padding-right: 0;
        overflow: hidden;
        //margin-right: 0;
    }

    .MenuSubject{
        font-weight: 900;
        font-size: 110%;
    }

}
