page-search {
    .toolbar .searchbar-ios {
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 30px;
        padding-top: 0px;
        background-color:#FF5F3A;
    }
    .toolbar-ios {
        padding:0px;
    }
    .close-button{
        color:white;
    }

    .explain{
        color:white;
        font-size:3vw;
        padding-bottom: 20px;
    }

    .searchbar-ios .searchbar-input {
        font-size:4vw;
    }
    
    .searchbar-ios .searchbar-search-icon , .searchbar-ios .searchbar-ios-cancel{
        background-size: 30px;
    }

    .toolbar-content-ios{
        background-color:#FF5F3A;        
    }
    .search-menus-div{
        .search-menus{
            height:50px;
            font-size:4vw;
            color:black;
            button{
                margin-left:calc((38/376)*100vw);
                margin-bottom:5px;
                width:calc((290/376)*100vw);
                span{
                    justify-content: left;
                }
            }
        }
        padding-left:100px;
        padding-top:50px;
    }

 .footer-area{
    height: calc((100/1280)*100vh);
    font-size:4.75vw;
    padding-top: calc((20/1280)*100vh);
 }

    .searchbar-div{
        padding-left:100px;
        padding-right:100px;    
    }

 .cart-quantity{
    font-size:3.5vw;
    background-color:#20dba5;
    border-radius:50%;
    color:white;
    padding-left:10px;
    padding-right:10px;
 }

}
