<ion-header>
  <ion-navbar hideBackButton>
    <button class="close-button" clear ion-button (click)="back()"><ion-icon style="font-size:6vw;" name="md-close"></ion-icon>
    </button>
    <div class="searchbar-div">
    <ion-searchbar  mode="md" class="keyword-input" 
                  placeholder="메뉴 이름 검색"
                  [(ngModel)]="myInput"  
                  (ionInput)="onInput($event)">
    </ion-searchbar>
    </div>
    <div class="explain" text-center>
      <b>초성만으로도 검색가능합니다.</b><br>
      <b>떡볶이   =>  ㄸㅂㅇ </b><br>
    </div>
    <div class="explain" style="padding-left:100px;" text-left>
      <b>*ㄸ은 ㄷ을 빠르게 두번 클릭해주세요.</b><br>
      <b>*키패드가 아닌 영역을 클릭하면 키패드가 사라집니다.</b>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
<div class="search-menus-div">
  <div [hidden]="myInput==undefined || myInput.length==0"  *ngFor="let menu of menus">
    <button ion-button class="search-menus" clear (click)="goToMenu(menu)">{{menu.menuName}}</button>    
  </div>
</div>
</ion-content>
<ion-footer  no-padding no-margin *ngIf="cartProvider.totalQuantity>0">
<ion-row class="order-list" style="background-color:#ff7f39;color:white;">
  <ion-col  style="font-size:3.5vw;" text-center align-self-center>
  {{cartProvider.orderName}}
  </ion-col>
  <ion-col style="font-size:4.125vw;" text-center align-self-center>
    <b><amount-display [amount]="cartProvider.totalAmount"></amount-display>원</b>
  </ion-col>
</ion-row>
<ion-row  no-padding no-margin>
  <ion-col class="order-button" no-padding no-margin text-center align-self-center>
    <button (click)="moveOrderList()" full style="color: #ff7f39;background-color:white;" ion-button no-padding no-margin clear>    
     결제하기 
    </button>
  </ion-col>
</ion-row>
</ion-footer>