page-en-order-receipt {
$primary-color:#FF5F3A;
    
 .by-pos{
    position: absolute;
    left: 336px;
    top: 40px;//54px;  
    color:#FF5F3A;               
 }

 .logo-img{
    width:87px;
    height:29px;
    position: absolute;
    left: 368px;
    top: 30px//49px;         
 }

 .shop-img{
    width:185px;
    height:100px;
    position: absolute;
    left: 146px;
    top: 0px;//15px;    
 }

.confirm-button{
    button{
        font-size:4vw;
        width: calc((438/800)*100vw);
        height: calc((100/1280)*100vh); 
    }
}
////////////////////////////////
    .choice{
        padding-left:75px;
        padding-right:75px;
        ion-label{
            font-size:3vw;
            color:#919191;
        }

        ion-radio{
            border-style:solid;
            border-width:1px;
            border-color:#919191;
            color:$primary-color;
        }
    }

    .notify-check{
        font-size:3vw;
        color: black;
        .checkbox-md .checkbox-checked {
            border-color: black !important;
            background-color: black !important;
        }
    }
///////////////////////////////////
.balloon {
    display: inline-block;
    position: relative;
    background: yellow;
    height: 120px;
    width: 300px;
    margin: 0 auto 20px;
    border-radius: 10px;
    padding:10px;
    margin-left: 30px;
}
.balloon:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    z-index: -1;
    background: #fff;
    bottom: -20px;
    left: 50px;
}
.balloon:before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    z-index: -1;
    background: yellow;
    bottom: -15px;
    left: 35px;
}
///////////////////////////////////
.order-completed{
    font-size:4.75vw;
    color:#20dba5;
    padding-top:100px;
    padding-bottom:150px;
}

///////////////////////////////////////
.paymentDone{
    font-size:calc((36/800)*100vw);
    color: #fff471; 
    padding-top:calc((78/800)*100vw);
    padding-bottom:calc((40/800)*100vw);

    font-family: TTOmniGothicM;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
};

.orderNumberLabel{
  font-family: TTOmniGothicL;
  font-size:calc((21/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
};

.orderNumber{
  font-family: Barlow;
  font-size:calc((110/800)*100vw);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  text-align: center;
  color: #ffffff;
};

.orderName{
  font-family: TTOmniGothicL;
  font-size: calc((24/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
};

.checkbox{
     width:calc((38/800)*100vw);
     height:calc((38/800)*100vw);
     margin-top: calc((40/800)*100vw);
     margin-bottom:0px;
};

.remember{
  font-family: TTOmniGothicL;
  font-size: calc((21/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.2px;
  text-align: center;
  color: #6a2a06;
};

.orderCheck{
  font-family: TTOmniGothicM;
  font-size: calc((21/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.2px;
  text-align: center;
  color: #6a2a06;
  padding-bottom: calc((57/800)*100vw);
}

.phoneNotifyLabel{
  padding-top:calc((20/800)*100vw);
  padding-bottom:calc((20/800)*100vw);
  font-family: TTOmniGothicL;
  font-size: calc((24/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #494747;
}

.inputHeight{
    height:calc((110/800)*100vw);
}

.footer{
    height: calc((124/800)*100vw);
    button{
        span{
            font-family: OTDarakbangL;
            font-size: calc((36/800)*100vw);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.6px;
            color: #ff7f39;
        }
    }
}

.border-round{
  border-radius: 37.5px;
  border: solid 1px #ff7f39;
  margin-right: calc((72/800)*100vw);
  margin-left:calc((72/800)*100vw);
  ion-col{
    button{
        span{
            font-family: TTOmniGothicM;
            font-size: calc((24/800)*100vw);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: right;
            color: #ff7f39;           
        }
    }
  }
}

.cancelButtonHeight{
    height:calc((25/800)*100vw);
}

.notifyDone{
    height:calc((189/800)*100vw);
    color: #ff7f39;
    font-family: TTOmniGothicM;
    font-size: calc((24/800)*100vw);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
}

.waitee-symbol{
    width: calc((56/800)*100vw); 
    height: calc((61/800)*100vw);
    margin-top: calc((40/800)*100vw); 
    margin-bottom:calc((33/800)*100vw); 
}

}
