page-en-order-receipt {
$primary-color:#FF5F3A;
    
 .by-pos{
    position: absolute;
    left: 336px;
    top: 40px;//54px;  
    color:#FF5F3A;               
 }

 .logo-img{
    width:87px;
    height:29px;
    position: absolute;
    left: 368px;
    top: 30px//49px;         
 }

 .shop-img{
    width:185px;
    height:100px;
    position: absolute;
    left: 146px;
    top: 0px;//15px;    
 }

.confirm-button{
    button{
        font-size:4vw;
        width: calc((438/800)*100vw);
        height: calc((100/1280)*100vh); 
    }
}
////////////////////////////////
    .choice{
        padding-left:75px;
        padding-right:75px;
        ion-label{
            font-size:3vw;
            color:#919191;
        }

        ion-radio{
            border-style:solid;
            border-width:1px;
            border-color:#919191;
            color:$primary-color;
        }
    }

    .notify-check{
        font-size:3vw;
        color: black;
        .checkbox-md .checkbox-checked {
            border-color: black !important;
            background-color: black !important;
        }
    }
///////////////////////////////////
.balloon {
    display: inline-block;
    position: relative;
    background: yellow;
    height: 120px;
    width: 300px;
    margin: 0 auto 20px;
    border-radius: 10px;
    padding:10px;
    margin-left: 30px;
}
.balloon:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    z-index: -1;
    background: #fff;
    bottom: -20px;
    left: 50px;
}
.balloon:before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    z-index: -1;
    background: yellow;
    bottom: -15px;
    left: 35px;
}
///////////////////////////////////
.order-completed{
    font-size:4.75vw;
    color:#20dba5;
    padding-top:100px;
    padding-bottom:150px;
}
}
