<!--
  Generated template for the KioskSalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> <span *ngIf="storageProvider.isTestServer">검증-</span>{{storageProvider.myshop.takitId}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
    <div class="segmentButton">
    <ion-segment [(ngModel)]="Option" (ionChange)="changeValue(Option)">
      <ion-segment-button  value="today">
      오늘
      </ion-segment-button>
      <ion-segment-button  value="week">
      일주일
      </ion-segment-button>
      <ion-segment-button  value="month">
      한달
      </ion-segment-button>
      <ion-segment-button  value="period">
       기간설정
      </ion-segment-button>
    </ion-segment>
    </div>
<div [hidden]="Option!='period'"> 
  <ion-row >
  <ion-item ion-col width-50>
  <ion-label>시작일</ion-label>
  <ion-datetime displayFormat="YYYY M DD" min="2016" (ionChange)="startPicker(startDate)" [(ngModel)]="startDate"></ion-datetime>
  </ion-item>
  <ion-item ion-col width-50> 
  <ion-label>종료일</ion-label>
  <ion-datetime displayFormat="YYYY M DD" min="2016" (ionChange)="endPicker(endDate)" [(ngModel)]="endDate"></ion-datetime>
  </ion-item>
  </ion-row>
    <button ion-button full (click)="searchPeriod()">검색</button>
 </div> 


  <div padding>
    <label>총매출: {{sales}}</label>
  </div>  
  <ion-list  *ngFor="let menu of statistics" >
  <ion-item>
    <ion-row>
      <ion-col width-50>
        {{menu.menuName}}
      </ion-col>
      <ion-col width-25 style="text-align: -webkit-right;">
        {{menu.count}}
      </ion-col>
      <ion-col width-25 style="text-align: -webkit-right;">
        {{menu.menuSales}}
      </ion-col>
    </ion-row>
  </ion-item>
  </ion-list>
  

</ion-content>

