page-my-info {
    .header{
        height:calc((50/667)*100vh);
        font-size:4.8vw;
        background-color:$default-color;
        color:white;
        padding-top: calc((15/667)*100vh);
    }
    .personal-info-section{
        margin-left:calc((40/376)*100vw);
        margin-right:calc((40/376)*100vw);
        margin-top: calc((21/667)*100vh);
        //height:calc((124/667)*100vh); 2018.07.04
        height:calc((50/667)*100vh);
        .user-name{
            font-size:5.8vw;
            color:$default-color;
        }
        .user-img{
            width: calc((66/376)*100vw);   
        }
    }

    .group-title{
        p{
            font-size:3.8vw;
            margin-left:calc((19/376)*100vw);
            margin-top:calc((15/667)*100vh);
            color:#9b9b9b;
        }
        border-top-style: solid;
        border-width: 1px;
        border-color: #dfdfdf;  
    }

    .each-menu{
        padding-left:calc((19/376)*100vw);
        font-size:4.5vw;
        button{
            height: calc((19/667)*100vh);
            font-size: 3.8vw;
        }
        ion-col{
            height: calc((35/667)*100vh);
            padding-top:calc((10/667)*100vh);
            padding-bottom:0px;
        }
        border-top-style: solid;
        border-width: 1px;
        border-color: #dfdfdf;          
    }

    .last{
       // height: calc((60/667)*100vh);
        border-top-style: solid;
        border-width: 1px;
        border-color: #dfdfdf;  
    }
}
