<!--
  Generated template for the OrderReceiptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content style="background-color:#ff7f39;">
  <div text-center class="paymentDone" >결제가 완료되었습니다</div>
  <div tex-center align-self-center>
    <ion-row>
      <ion-col text-right align-self-center class="orderNumberLabel">주문번호</ion-col>
      <ion-col text-left align-self-center class="orderNumber">{{order.orderNO}}</ion-col>
    </ion-row>
   <p class="orderName"> {{order.orderName}}</p>
  </div>      
  <div text-center>
    <img class="checkbox" src="assets/imgs/check.png">
    <p class="remember" style="margin-top:0px;margin-bottom:0px;">주문번호를 기억 해 기억해주세요</p>
    <p class="orderCheck" style="margin-top:0px;">첫 화면 좌측상단 주문확인에서 주문 내역 확인이 가능합니다</p>
  </div>
<div style="background-color:#f6f6f6;" *ngIf="!orderNotifyDone">
  <ion-row class="phoneNotifyLabel">
    <ion-col col-9 text-center align-self-center>내 폰으로 주문 정보를 받아보세요.</ion-col>
    <ion-col col-3 text-left align-self-center no-margin no-padding> <button  *ngIf="notifyMethodWaitee!=undefined" class="cancelButtonHeight" ion-button  (click)="cancelNotify()" clear style="font-size:3vw;color:#ff7f39;">취소</button></ion-col>
  </ion-row>
  <div class="inputHeight" *ngIf="notifyMethodWaitee==undefined">
    <ion-row>
    <ion-col text-center> <button style="font-size:3vw;" ion-button outline round  (click)="configureNotifyMethod(true)"> 웨이티 회원 번호로 받기 </button></ion-col>
    <ion-col text-center> <button style="font-size:3vw;" ion-button outline round (click)="configureNotifyMethod(false)">  전화번호로 받기</button> </ion-col>
    </ion-row>
  </div>
   <div class="inputHeight" *ngIf="notifyMethodWaitee==false">
    <ion-row class="border-round">
      <ion-col col-8>
          <ion-input align-self-center text-center #phoneInput style="font-size:3vw;" type="tel" placeholder="휴대폰 번호" (keyup)="inputPhoneNumber($event)" [(ngModel)]="phoneNumber"> </ion-input>
      </ion-col>
    <ion-col col-4>
      <button ion-button clear (click)="sendReceipt()"> 전송 </button>
    </ion-col>          
    </ion-row>
   </div>
  <div class="inputHeight" *ngIf="notifyMethodWaitee==true">
    <ion-row class="border-round">
    <ion-col col-8>
      <ion-input align-self-center text-center #phoneInput style="font-size:3vw;" type="number" placeholder="웨이티 번호 입력" (keyup)="inputWaiteeNumber($event)" [(ngModel)]="waiteeNumber"> </ion-input>
    </ion-col>
    <ion-col col-4>
      <button ion-button clear (click)="sendReceipt()"> 전송 </button>
    </ion-col>
    </ion-row>
 </div>
</div>
 <div text-center style="background-color:#f6f6f6;" class="notifyDone" *ngIf="orderNotifyDone">
   <div text-center>
   <img class="waitee-symbol" src="assets/imgs/waitee-symbol.png" />
   </div>
   입력하신 번호로 주문 정보가 전송되었습니다.
 </div>
<div>
<img style="width:100%;" src="assets/imgs/waiteeAd.png" />
</div>
</ion-content>
<ion-footer no-padding no-margin style="background-color:white;">
    <ion-row class="footer">
      <ion-col text-center align-self-center>
          <button ion-button clear style="color:#ff7f39;" (click)="goHome()">확인,주문종료</button>                
      </ion-col>
      <ion-col text-center align-self-center>
          <button ion-button clear style="color:#ff7f39;" (click)="goHome()">다른메뉴 주문</button>                
      </ion-col>
    </ion-row>
</ion-footer>
