<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
  <ion-buttons start>
    <button style="background-color:white;color:#6441a5;" (click)="back()" ><ion-icon style="font-size:4.8vw;" name="ios-arrow-back"></ion-icon></button>
  </ion-buttons>
  <ion-title>  {{shopName}} &nbsp;
              <a *ngIf="storageProvider.shopResponse.shopInfo.contactPhone" [href]="shopPhoneHref"><ion-icon color="black" name="call"></ion-icon></a>
  </ion-title>
  <!--
  <ion-buttons end>
        <a [href]="shopPhoneHref"><ion-icon color="black" name="call"></ion-icon></a>
  </ion-buttons>
  -->
  </ion-navbar>
  
</ion-header>

<ion-content #shophomeContent>
    <!--
<div class="shop-text-info">
<label class="label">주소</label>  <span class="value">{{shop.shopInfo.address}}</span>
</div>
<div class="shop-text-info" *ngIf="storageProvider.shopResponse.shopInfo.shopPhone!=null">
<label class="label">전화번호</label>  <span class="value">{{storageProvider.shopResponse.shopInfo.shopPhone}} </span>
</div>

<img class="shop-img" [src]="storageProvider.awsS3+storageProvider.shopResponse.shopInfo.imagePath">

<div class="shop-text-info">
<label class="label">영업시간</label>  <span class="value">{{storageProvider.shopResponse.shopInfo.businessTimes[0]}}</span>
</div>
<div class="shop-text-info" *ngIf="storageProvider.shopResponse.shopInfo.breakTime!=null">
<label class="label">브레이크</label>  <span class="value"> {{storageProvider.shopResponse.shopInfo.breakTime}} </span>
</div>
<div class="shop-text-info">
<label class="label">휴무요일</label>  <span class="value"> {{storageProvider.shopResponse.shopInfo.regularOff}} </span>
</div>
-->
<ion-row class="row-categories-menus">
             <ion-col col-3 class="col-categories" no-padding>
                <ion-scroll scrollY="true" class="scroll-categories">
                    <ion-list>
                        <ion-item *ngFor="let category of categories;let i=index;">
                          <button style="font-size:3.4vw" value="i" (click)="categoryClick(i+1)" color="white" ion-button full  no-padding no-margin>
                           <p style="font-size:3.4vw;" text-left [style.color]="configureButtonColor(i)" text-wrap> {{category.categoryName}} </p>
                          </button>
                        </ion-item>
                    </ion-list>
                </ion-scroll>
             </ion-col>
            <ion-col  col-9 class="col-menus">
                <ion-scroll scrollY="true">
                <ion-row *ngFor="let menu of menus" no-padding no-margin>
                    <ion-col no-padding>
                    <button color="white" (click)="selectMenu(menu[0])"ion-button full no-padding no-margin>
                        <ion-item class="left" no-padding>
                             <img class="img-shop" [src]="storageProvider.awsS3+menu[0].imagePath">
                            <h2>{{menu[0].menuName}}</h2>
                            <p>{{menu[0].price}}</p>
                        </ion-item>
                    </button>
                    </ion-col>
                    <ion-col no-padding>
                    <button *ngIf="menu[1]" (click)="selectMenu(menu[1])" color="white" ion-button full no-padding no-margin>
                        <ion-item no-padding>
                             <img class="img-shop" [src]="storageProvider.awsS3+menu[1].imagePath">
                            <h2>{{menu[1].menuName}}</h2>
                            <p>{{menu[1].price}}</p>
                        </ion-item>
                    </button>
                    <button *ngIf="!menu[1]" color="white" ion-button full no-padding no-margin>
                        <ion-item no-padding>
                        </ion-item>
                    </button>
                    </ion-col>
                </ion-row>
                </ion-scroll>
            </ion-col>
</ion-row>
</ion-content>
