<!--
  Generated template for the EditMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
        메뉴
    </ion-title>
  </ion-navbar>
</ion-header>

<!--shop's menu insert-->
<ion-content #addMenuContent>
    <!--1. 카테고리-->
    <!--1-1. 카테고리 목록-->

<div class="selectCategory">
    <ion-row *ngFor="let categories of categoryRows">
        <ion-col width-33  class="segmentButton" *ngFor="let category of categories;let i=index;" style="max-width: 33.3333%;">
            <ion-segment #categorySegment [(ngModel)]="categorySelected">
                    <ion-segment-button [value]="category.index" (click)="categoryChange(category.categoryNO,category.index)">
                    {{category.categoryName}}
                    </ion-segment-button>
            </ion-segment>        
        </ion-col>
    </ion-row>

        <!--카테고리 추가/삭제버튼 (삭제기능 모든 메뉴 삭제해야 가능하도록 함)-->
    <ion-row>
        <ion-item  *ngIf="!flags.addCategory">
            <ion-label stacked>카테고리순서</ion-label>
            <ion-input [(ngModel)]="inputAddCategory.sequence" required></ion-input>
        </ion-item>
        <ion-item  *ngIf="!flags.addCategory">
            <ion-label stacked>카테고리명</ion-label>
            <ion-input [(ngModel)]="inputAddCategory.categoryName" required></ion-input>
        </ion-item>
        <ion-item  *ngIf="!flags.addCategory">
            <ion-label stacked>카테고리명(영문)</ion-label>
            <ion-input [(ngModel)]="inputAddCategory.categoryNameEn" required></ion-input>
        </ion-item>
    </ion-row>
    <ion-row>
    <ion-col>
        <button (click)="addCategory()" [hidden]="!flags.addCategory" ion-button icon-left small style="float:right"><ion-icon name="md-add"></ion-icon>카테고리</button>
        <button (click)="removeCategory()" [hidden]="!flags.addCategory" ion-button icon-left small style="float:right"><ion-icon name="md-trash"></ion-icon>카테고리</button>

        <button (click)="addCategoryComplete()" [hidden]="flags.addCategory" ion-button small style="float:right">완료</button>
        <button (click)="cancelCategoryComplete()" [hidden]="flags.addCategory" ion-button small style="float:right">취소</button>
    </ion-col>
    </ion-row>
</div>

<ion-item-divider color="white"></ion-item-divider>
<div [ngSwitch]="categorySelected" >
    <!--2. 카테코리 수정-->
        <!--2-1. 카테고리 순서?번호?, 한글명-->
    <div class="categoryInfo">
        <ion-row>
            <ion-col>
                <ion-item *ngIf="flags.categoryName">
                    <ion-label stacked>카테고리순서</ion-label>
                    <ion-input [(ngModel)]="nowCategory.sequence" readonly ></ion-input>
                </ion-item>
                <ion-item *ngIf="!flags.categoryName">
                    <ion-label stacked>카테고리순서</ion-label>
                    <ion-input [(ngModel)]="inputModifyCategory.newSequence" [value]="nowCategory.sequence" ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col width-10>
                <!--<ion-item no-lines class="categoryBtn">-->
                <!--2-2편집버튼-->
                    <button (click)="modifyCategory()" [hidden]="!flags.categoryName" [disabled]="this.categories.length===0" ion-button icon-left small style="float:right"><ion-icon name="md-create"></ion-icon>편집</button>
                    <button (click)="modifyCategoryComplete()" [hidden]="flags.categoryName" ion-button small style="float:right">완료</button>
                <!--</ion-item>-->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                
                <ion-item *ngIf="flags.categoryName">
                    <ion-label stacked>카테고리명</ion-label>
                    <ion-input [(ngModel)]="nowCategory.categoryName" readonly ></ion-input>
                </ion-item>
                <ion-item *ngIf="!flags.categoryName">
                    <ion-label stacked>카테고리명</ion-label>
                    <ion-input [(ngModel)]="inputModifyCategory.categoryName"  [value]="nowCategory.categoryName" ></ion-input>
                </ion-item>
                <!--<p [hidden]=!flags.categoryName>{{nowCategoryName}}</p>-->
            </ion-col>
            <ion-col>
                <!--2-3. 카테고리 영문명-->
                <ion-item *ngIf="flags.categoryName">
                    <ion-label stacked>카테고리 영문명</ion-label>
                    <ion-input [(ngModel)]="nowCategory.categoryNameEn" readonly></ion-input>
                </ion-item>
                <ion-item *ngIf="!flags.categoryName">
                    <ion-label stacked>카테고리 영문명</ion-label>
                    <ion-input [(ngModel)]="inputModifyCategory.categoryNameEn" [value]="nowCategory.categoryNameEn" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
    <!--3. 카테고리별 메뉴들-->
        <!--3-1. 메뉴 추가 버튼-->
    <ion-item-divider color="white"></ion-item-divider>
    <div class="selectMenus">
        <button (click)="addMenu()" ion-button icon-left small style="float:right"><ion-icon name="md-add"></ion-icon>메뉴</button>
        <!--3-1.메뉴사진 -->
        <!--3-2.메뉴 편집 버튼-->
        <ion-list *ngSwitchCase="categorySelected" no-lines>
          <ion-item class="menuItems" *ngFor="let row of menuRows">
                <div>
                <ion-row>
                    <ion-col width-50 class="menuItemInfo"  *ngFor="let menu of row.menus">
                        <ion-item> 
                            <p class="MenuSubject">{{menu.menuName}}</p>
                            <p *ngIf="menu.menuNameEn!==null" class="MenuText">{{"("+menu.menuNameEn+")"}}</p>
                            <p class="MenuText">{{menu.price}}</p>
                            <p *ngIf="menu.stampCount!=null && menu.stampCount>0">스탬프 제공:{{menu.stampCount}}</p>
                            <p *ngIf="menu.menuSeq!=null" class="MenuText">{{menu.menuSeq}}</p>
                            <p *ngIf="menu.takeout===true || menu.takeout==1" class="MenuText">포장가능</p>
                            <p *ngIf="menu.takeout==2" class="MenuText">배달가능</p>
                            <p *ngIf="menu.explanation!==null" class="MenuText">{{menu.explanation}}</p>
                            <p *ngIf="menu.explanationEn!==null" class="MenuText">{{menu.explanationEn}}</p>
                            <!--<p class="MenuText" *ngFor="let option of menu.options">{{option.name}}:{{option.price}}</p>-->
                            <!--<p class="MenuText" *ngFor="let optionEn of menu.optionsEn">{{optionEn.name}}:{{optionEn.price}}</p>-->
                        <!--<p class="MenuText">{{menu.description}}</p>-->           
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngFor="let menu of row.menus">
                        <button class="nonColorBtn" (click)="menuModal(menu.menuName)" ion-button icon-left color="white" small ><ion-icon name="md-create"></ion-icon>편집</button> 
                        <button class="nonColorBtn" (click)="removeMenu(menu)" ion-button icon-left color="white" small><ion-icon name="md-trash"></ion-icon>삭제</button>
                    </ion-col>
                </ion-row>
                </div>
          </ion-item>
        </ion-list>            
    </div>
</div>

</ion-content>
