page-card-explain {
    .receipt-img{
        width:60vw;    
    }
    .explain{
        font-size:3.5vw;
        padding-top:30px;
    }

    .confirm-button{
        button{
            font-size:3.5vw;
        }
    }
}
