<ion-header>
  <ion-navbar hideBackButton>
  <ion-buttons start>
    <button style="background-color:white;color:#FF5F3A;" (click)="back()" ><ion-icon style="font-size:4.8vw;" name="md-close"></ion-icon></button>
  </ion-buttons>
  <ion-title> <b>{{order.shopName}}</b>
  </ion-title>
  <ion-buttons *ngIf="order.orderStatus=='paid'" end>
    <button style="font-size:4vw;" ion-button (click)="cancel()">
    주문 취소
    </button>
  </ion-buttons>
  <ion-buttons *ngIf="order.orderStatus=='pickup' && order.review==null" end>
    <button style="font-size:4vw;" ion-button (click)="inputReview()">
    후기작성
    </button>
  </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content>
<div class="order-no" text-center>
  <p no-margin class="order-value">{{order.orderNO}}
    <span *ngIf="order.takeout==1">(포장)</span>
    <span *ngIf="order.takeout==2">(배달)</span>
  </p>
  <p no-margin class="order-label">주문번호</p>
</div>
<ion-row  class="order-status" *ngIf="order.orderStatus!='pickup' && order.orderStatus!='cancelled'">
  <ion-col text-center> 
    <div class="invalid-status" *ngIf="order.orderStatus!='paid'">
      &nbsp;
    </div>
    <div class="curr-status" *ngIf="order.orderStatus=='paid'">
      &nbsp;
    </div>    
  </ion-col>
  <ion-col text-center>
    <div class="invalid-status" *ngIf="order.orderStatus!='checked'">
      &nbsp;
    </div>
    <div class="curr-status" *ngIf="order.orderStatus=='checked'">
      &nbsp;
    </div>    
  </ion-col>
  <ion-col text-center>
    <div class="invalid-status" *ngIf="order.orderStatus!='completed'">
      &nbsp;
    </div>
    <div class="curr-status" *ngIf="order.orderStatus=='completed'">
      &nbsp;
    </div>    
  </ion-col>
</ion-row>
<ion-row  class="order-status" *ngIf="order.orderStatus!='pickup' && order.orderStatus!='cancelled'">
  <ion-col text-center> 
    <div style="color:#bdbdbd" *ngIf="order.orderStatus!='paid'">
      결제완료
    </div>
    <div style="color:#FF5F3A" *ngIf="order.orderStatus=='paid'">
      결제완료
    </div>    
  </ion-col>
  <ion-col text-center>
    <div style="color:#bdbdbd" *ngIf="order.orderStatus!='checked'">
      주문접수
    </div>
    <div style="color:#FF5F3A" *ngIf="order.orderStatus=='checked'">
      주문접수
    </div>    
  </ion-col>
  <ion-col text-center>
    <div style="color:#bdbdbd" *ngIf="order.orderStatus!='completed'">
      준비완료
    </div>
    <div style="color:#FF5F3A" *ngIf="order.orderStatus=='completed'">
      준비완료
    </div>    
  </ion-col>
</ion-row>
<div text-center class="pickup-area" *ngIf="order.orderStatus=='pickup'" style="background-color:white;">
<ion-row  style="color: #FF5F3A;justify-content:center;font-size:4vw;">
       <b>고객 전달이 완료된 주문입니다.</b>
</ion-row>
<ion-row style="color: #bdbdbd;" *ngIf="order.localPickupTimeString" >
    <ion-col no-padding col-4 text-left>전달완료</ion-col>
    <ion-col no-padding col-8 text-right>{{order.localPickupTimeString}}</ion-col>    
</ion-row>
</div>

<div text-center class="pickup-area" *ngIf="order.orderStatus=='cancelled'" style="background-color:white;">
<ion-row  style="color: #FF5F3A;justify-content:center;font-size:4vw;">
       <b>취소된 주문입니다. ( 사유 : {{order.cancelReason}} )</b>
</ion-row>
<ion-row style="color: #bdbdbd;" *ngIf="order.localCancelledTimeString" >
    <ion-col no-padding col-4 text-left>취소완료</ion-col>
    <ion-col no-padding col-8 text-right>{{order.localCancelledTimeString}}</ion-col>    
</ion-row>
</div>

<div class="detail-section">
<ion-row class="logo" text-center>
  <!--
    <img  src="assets/imgs/waitee-logo.png"/> 
-->
</ion-row>
  <div class="time-area">
    <ion-row *ngIf="order.localOrderedTimeString" >
    <ion-col no-padding col-4 text-left>결제완료</ion-col>
    <ion-col no-padding col-8 text-right>{{order.localOrderedTimeString}}</ion-col>    
    </ion-row>
    <ion-row *ngIf="order.localCheckedTimeString" >
    <ion-col no-padding col-4 text-left>주문접수</ion-col>
    <ion-col no-padding col-8 text-right>{{order.localCheckedTimeString}}</ion-col>    
    </ion-row>
    <ion-row *ngIf="order.localCompleteTimeString" >
    <ion-col no-padding col-4 text-left>준비완료</ion-col>
    <ion-col no-padding col-8 text-right>{{order.localCompleteTimeString}}</ion-col>    
    </ion-row>
    <ion-row *ngIf="order.localCancelledTimeString" >
    <ion-col no-padding col-4 text-left>주문취소</ion-col>
    <ion-col no-padding col-8 text-right>{{order.localCancelledTimeString}}</ion-col>    
    </ion-row>
  </div>
<ion-row class="show-border" style="justify-content:center;font-size:4vw;" text-center>
주문 사항
</ion-row>
<div class="show-border" *ngFor="let menu of order.orderListObj.menus">
  <ion-row>
            <ion-col col-8 text-left><span class="status">{{menu.menuName}}({{menu.quantity}})</span></ion-col>
            <ion-col col-4 text-right><span class="status"><amount-display [amount]="menu.price"></amount-display>원</span></ion-col>
  </ion-row>          
  <ion-row *ngFor="let option of menu.options" class="menu-detail">
      <ion-col col-8 text-left>{{option.name}}({{option.number}})<span class="status" *ngIf="option.select!=undefined">:{{option.select}}</span> </ion-col>
      <ion-col col-4 text-right><span class="status">+{{option.price}}</span>
      </ion-col>        
  </ion-row> 
  <ion-row *ngIf="menu.memo" class="menu-detail">
      요청사항 &nbsp;:&nbsp; {{menu.memo}}
  </ion-row>   
</div>             
<div class="show-border" *ngIf="order.takeout==2 && order.deliveryAddress!=null">
  <ion-row>
          <ion-col text-left><span class="status">배송지</span></ion-col>
  </ion-row>     
  <ion-row text-left class="menu-detail">
          <ion-col text-left>
              {{order.deliveryAddress}}
          </ion-col>
  </ion-row>   
</div>         

<div [ngClass]="payClasses">
<ion-row>
<ion-col col-3 text-left>결제 방식</ion-col> 
<ion-col col-9 text-right> {{order.paymentString}}</ion-col>
</ion-row>
<ion-row *ngIf="order.receiptId!=undefined && order.receiptId.length>0">
<ion-col text-left>현금영수증</ion-col> 
<ion-col text-right> {{order.receiptId}}</ion-col>
</ion-row>
<ion-row *ngIf="this.order.payMethod=='card'">
<ion-col col-3 text-left>승인 번호</ion-col> 
<ion-col col-9 text-right> {{order.approval}}</ion-col>
</ion-row>

<ion-row>
  <ion-col text-left>
    주문 금액  
  </ion-col>
  <ion-col text-right>
    <amount-display [amount]="order.price"></amount-display>원
  </ion-col>
</ion-row>

<ion-row>
  <ion-col text-left>
    할인 금액  
  </ion-col>
  <ion-col text-right>
    -<amount-display [amount]="order.discount"></amount-display>원
  </ion-col>
</ion-row>

<ion-row *ngIf="order.deliveryFee!=null" >
  <ion-col text-left>
    배달비   
  </ion-col>
  <ion-col text-right>
    <amount-display [amount]="order.deliveryFee"></amount-display>원
  </ion-col>
</ion-row>

<ion-row class="receipt-amount">
  <ion-col text-left>
    <b>결제 금액</b>  
  </ion-col>
  <ion-col text-right>
    <!--
    <b *ngIf="order.deliveryFee!=null && order.deliveryFee!=undefined"><amount-display [amount]="order.amount+order.deliveryFee"></amount-display>원</b>
    <b *ngIf="order.deliveryFee==null || order.deliveryFee==undefined"><amount-display [amount]="order.amount"></amount-display>원</b>
    -->
    <b *ngIf="order.total==null || order.total==undefined"><amount-display [amount]="order.amount"></amount-display>원</b>
    <b *ngIf="order.total!=null && order.total!=undefined"><amount-display [amount]="order.total"></amount-display>원</b>
  </ion-col>
</ion-row>
<ion-row *ngIf="order.stampIssueCount!=null && order.stampIssueCount>0" class="receipt-amount">
  <ion-col text-left>
    <b>스탬프</b>  
  </ion-col>
  <ion-col text-right>
  <b>{{order.stampIssueCount}}</b>
  </ion-col>
</ion-row>
</div>

<div *ngIf="order.orderStatus=='cancelled'" [ngClass]="refundClasses">
<ion-row>
<ion-col text-left>환불 방식</ion-col> 
<ion-col *ngIf="this.order.payMethod=='cash'" text-right> 캐쉬환불</ion-col>
<ion-col *ngIf="this.order.payMethod=='card'" text-right> 카드승인취소</ion-col>
</ion-row>
<ion-row class="receipt-amount"> 
  <ion-col text-left>
    <b>환불 금액</b>  
  </ion-col>
  <ion-col text-right>
    <!--
    <b *ngIf="order.deliveryFee!=null && order.deliveryFee!=undefined">-<amount-display [amount]="order.amount+order.deliveryFee"></amount-display>원</b>
    <b *ngIf="order.deliveryFee==null || order.deliveryFee==undefined">-<amount-display [amount]="order.amount"></amount-display>원</b>
    -->
    <b *ngIf="order.total==null || order.total==undefined">-<amount-display [amount]="order.amount"></amount-display>원</b>
    <b *ngIf="order.total!=null && order.total!=undefined">-<amount-display [amount]="order.total"></amount-display>원</b>
  </ion-col>
</ion-row>
</div>

<div class="review-section" *ngIf="order.review!=null && order.review!=undefined">
  <ion-row class="time-area">
    <ion-col col-4 text-left>
    후기작성:    
    </ion-col>
    <ion-col col-8 text-right>
      {{order.localReviewTimeString}}
    </ion-col>
  </ion-row>  
  <div class="detail">
    <div class="star" text-center>
          <ion-icon *ngIf="order.starRate>=1" name="md-star"></ion-icon>
          <ion-icon *ngIf="order.starRate<1" name="ios-star-outline"></ion-icon>
          <ion-icon *ngIf="order.starRate>=2" name="md-star"></ion-icon>
          <ion-icon *ngIf="order.starRate<2" name="ios-star-outline"></ion-icon>
          <ion-icon *ngIf="order.starRate>=3" name="md-star"></ion-icon>
          <ion-icon *ngIf="order.starRate<3" name="ios-star-outline"></ion-icon>
          <ion-icon *ngIf="order.starRate>=4" name="md-star"></ion-icon>
          <ion-icon *ngIf="order.starRate<4" name="ios-star-outline"></ion-icon>
          <ion-icon *ngIf="order.starRate>=5" name="md-star"></ion-icon>
          <ion-icon *ngIf="order.starRate<5" name="ios-star-outline"></ion-icon>
    </div>
    {{order.review}}
  </div>
</div>
</div>

</ion-content>
