page-order-detail {
    .toolbar-background-ios {
        background: white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }

    .toolbar-title-ios {
        color: $default-color;
        background-color:white;
    }

    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0px; 
    }

    .content-ios{
        background-color:#f2f2f2;        
    }

    .order-no{
        height: calc((99/667)*100vh);
	    background-color: #f2f2f2;
        .order-value{
            font-size:12.7vw;
            color: #33b9c6;
            padding-top:calc((9/667)*100vh);
        }
        .order-label{
            font-size:4.5vw;
	        color: $default-color;
        }
    }

    .curr-status{
        background-color: $default-color;
        border-radius: 50%;
        height: calc((47/376)*100vw);
        width: calc((47/376)*100vw);
        margin-left:calc((15/376)*100vw);
    }

    .invalid-status{
	    background-color: #bdbdbd;
        border-radius: 50%;
        height: calc((30/376)*100vw);
        width:calc((30/376)*100vw);
        margin-left:calc((20/376)*100vw);
        margin-top:calc((10/376)*100vw);
    }

    .order-status{
        padding-left:calc((50/376)*100vw);
        padding-right:calc((50/376)*100vw);
        background-color:white;
    }

    .pickup-area{
        padding-left: calc((44/376)*100vw);
        padding-right: calc((44/376)*100vw);
        font-size:3.4vw;
        ion-row{
            padding-bottom:calc((10/667)*100vh);
        }
        padding-top:calc((10/667)*100vh);
    }

    .cancel-area{

    }

    .detail-section{
        background-color:white;
        .time-area{
            font-size:3.4vw;
            color: #bdbdbd;
            border-right:solid 1px #bdbdbd;
            border-left:solid 1px #bdbdbd;
            margin-right:calc((20/376)*100vw);
            margin-left:calc((20/376)*100vw);
            padding-top:calc((10/667)*100vh);
            padding-bottom:calc((10/667)*100vh);
            padding-left: calc((24/376)*100vw); 
            padding-right: calc((24/376)*100vw); 
        }
        .logo{
            img{
                width:calc((75/376)*100vw);
                height:calc((17/667)*100vh);
            }
            justify-content: center;
            padding-top:calc((10/667)*100vh);
            padding-bottom:calc((10/667)*100vh);
            margin-left:calc((20/376)*100vw); 
            margin-right:calc((20/376)*100vw);
            border-top:solid 1px #bdbdbd;
            border-left:solid 1px #bdbdbd;
            border-right:solid 1px #bdbdbd;
        }

        .show-border{
            padding-top:calc((10/667)*100vh);
            padding-bottom:calc((10/667)*100vh);
            padding-left:calc((24/376)*100vw);
            padding-right:calc((24/376)*100vw);
            margin-left:calc((20/376)*100vw); 
            margin-right:calc((20/376)*100vw);  
            border-left:solid 1px #bdbdbd;
            border-right:solid 1px #bdbdbd;                          
        }
        
        .payment{
            color: #4a4a4a;
            border-top:solid 1px #bdbdbd;
            font-size:3.4vw;
            .receipt-amount{
                color:$default-color;
            }
            padding-left:calc((24/376)*100vw);
            padding-right:calc((24/376)*100vw);
            padding-bottom:calc((10/667)*100vh);
            padding-top:calc((10/667)*100vh);

            border-left: solid 1px #bdbdbd;
            border-right: solid 1px #bdbdbd;
            margin-left:calc((20/376)*100vw);
            margin-right:calc((20/376)*100vw);
        }

        .paymentLast{
            color: #4a4a4a;
            border-top:solid 1px #bdbdbd;
            font-size:3.4vw;
            .receipt-amount{
                color:$default-color;
            }
            padding-left:calc((24/376)*100vw);
            padding-right:calc((24/376)*100vw);
            padding-bottom:calc((10/667)*100vh);
            padding-top:calc((10/667)*100vh);

            border: solid 1px #bdbdbd;
            margin-left:calc((20/376)*100vw);
            margin-right:calc((20/376)*100vw);
            margin-bottom:calc((20/667)*100vh);
        }
        padding-bottom: calc((15/667)*100vh);
    }

    .menu-detail{
        color:#bdbdbd;
        font-size:3.4vw;
    }

    .review-section{
            .detail{
                border: solid 1px #bdbdbd;
                margin-left:calc((20/376)*100vw);
                margin-right:calc((20/376)*100vw);
                padding-left:calc((24/376)*100vw);
                padding-right:calc((15/376)*100vw);
                //padding-top:
                padding-bottom:calc((10/376)*100vw);
                .star{
                    padding-top:calc((10/667)*100vh);
                    padding-bottom:calc((10/667)*100vh);
                    font-size:4vw;
                    //color: #6445a3;
                    color:#FF5F3A;
                }
            }
            .time-area{
                font-size:3.4vw;
                color: #bdbdbd;
                border-right:0px;
                border-left:0px;
                margin-right:calc((20/376)*100vw);
                margin-left:calc((20/376)*100vw);
                padding-top:0;
                padding-bottom:0;
                padding-left: calc((24/376)*100vw); 
                padding-right: calc((24/376)*100vw); 
            }            
    }    
}
