page-cash-password {
  ion-header{
      height:calc((50/667)*100vh);
      background-color: $default-color; 
  }

  ion-content{
      background-color:$default-color;
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0px;
  }

  .scroll-content{
     	background-color:$default-color;       
  }

  .toolbar-background-ios {
      background: $default-color;
  }

  .back-button{
      color:white;
      background-color:$default-color; 
  }

  ion-title{
      font-size:4.8vw;
  }

  .toolbar-title-ios {
    text-align: center;
    font-size: 4.8vw;
    font-weight: 600;
    color: white;
  }
/////////////////////////////
    .password-section{
        height:calc((222/667)*100vh);
        background-color:$default-color; 
        ion-row{
            margin-left:calc((68/376)*100vw);
            margin-right:calc((68/376)*100vw);
            margin-top:calc((56/667)*100vh);
            margin-bottom:calc((34/667)*100vh);
        }
        ion-col{
            background-color:white;
        }
    }

    .each-digit{
        font-size: 7vw;
    }

    .grid {
         padding: 0px; 
    }

    .content-ios{
        background-color:$default-color;
    }

////////////////////////////////////
// hum....
    .numberCircle {
        margin:2px;
        width: calc((35/376)*100vw);
        height: calc((35/376)*100vw);
        line-height: calc((35/376)*100vw);
        border-radius: 50%;
        text-align: center;
        font-size: 7vw;
        padding:0px;
        color:$default-color;
        //border: 2px solid #666;
    }
/////////////////////////////

    .extender {
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }

    .padder-center{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

}
