<ion-content>
<div class="header" text-center>
<b>지갑</b>
</div>

<div class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                <ion-col text-center no-padding class="cash-card scroll-col-latest">
                  <p no-margin no-padding class="cash-label" style="font-size:4.5vw;"><b>웨이티 캐쉬</b></p>
                  <p  class="cash-value" style="font-size:4vw;">잔액: 32500원</p>
                  <ion-row>
                      <ion-col no-padding no-margin class="left-button" ><button no-padding no-margin full clear ion-button>충전</button></ion-col>
                      <ion-col no-padding no-margin><button no-padding no-margin full clear ion-button>환급</button></ion-col>
                  </ion-row>
                </ion-col>

                 <ion-col *ngFor="let payment of paymethods" class="scroll-col-latest"  no-padding>
                            <button class="card-button" full  no-padding no-margin ion-button>
                              {{payment.name}}
                            </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>
<div class="search-button">
<button (click)="configureSearchMode()" no-padding no-margin ion-button full clear >
  <ion-row style="width:100%">
    <ion-col *ngIf="search_mode=='full'" col-11 text-right>
        기간 검색
    </ion-col>
    <ion-col *ngIf="search_mode!='full'" col-11 text-right>
        조회 하기 
    </ion-col>    
    <ion-col col-1>
        <ion-icon name="ios-search"> </ion-icon>     
    </ion-col>
  </ion-row>
  <!--
 <ion-icon name="ios-search"> </ion-icon>
 -->
</button>
</div>
</ion-content>

