page-wallet {
    .header{
        height:calc((50/667)*100vh);
        font-size:4.8vw;
        background-color:$default-color;
        color:white;
        padding-top: calc((15/667)*100vh);
    }

    $scroll-H:  calc((160/667)*100vh);
    $latest-H : calc((121/667)*100vh);
    
    .scroll-latest {
        height: $scroll-H;
        .scroll-content{
            padding: 0;
        }
    }

    .scroll-div{
        .scroll-row-latest{
            flex-wrap : inherit;
            height: $latest-H;
            margin-left: calc((62/376)*100vw);
            margin-right: calc((62/376)*100vw);
            ion-row{
                width : calc((227/376)*100vw);   
            }
            .card-button{
                width : calc((227/376)*100vw);
                height: calc((121/667)*100vh);
            }

            .cash-card{
                background-color:$default-color;
                color:white;
                border-radius: 8px;
 	            box-shadow: 0 0 7px 0 rgba(70, 70, 70, 0.5);
                padding-top: calc((24/667)*100vh);
                 .cash-label{

                 }
                 .cash-value{
                    margin-top:calc((7/667)*100vh);
                    margin-bottom:calc((7/667)*100vh);
                 }
                 ion-row{
                     border-top: solid 0.5px #ffffff;
                     ion-col{
                        button{
                                color:white;
                                padding-bottom:calc((7/667)*100vh);
                                span{
                                    font-size:4vw;
                                }
                        }
                     }

                     .left-button{
                         border-right: solid 0.5px #ffffff;
                     }
                 }
            }

            .scroll-col-latest {
                overflow: inherit; 
                margin-left: calc((12/376)*100vw);
                margin-right:calc((12/376)*100vw);
                margin-top:calc((25/667)*100vh);
                margin-bottom:calc((25/667)*100vh);
                height:calc((121/667)*100vh);
            }            
        }    
    } 

    .search-button{
        button{
            span{
                font-size:4vw;
                color: #bdbdbd;
            }
            ion-row{
                background-color: #f2f2f2;
                border-top: solid 1px #bdbdbd;
                border-bottom: solid 1px #bdbdbd;
            }
        }
    }
}
