<ion-header>
  <ion-navbar hideBackButton>
  <ion-buttons start>
    <button style="background-color:#FF5F3A;color:white;" (click)="back()" ><ion-icon style="font-size:4.8vw;" name="ios-arrow-back"></ion-icon></button>
  </ion-buttons>
  <ion-title style="color:white;"> 결제하기
  </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<div class="pickup-area">
<ion-row  class="pickup-method">
  <ion-col text-center> 
    <button class="circle" [style.background-color]="inStoreColor" (click)="selectInStore()" ion-button> &nbsp;</button>
  </ion-col>
  <ion-col text-center *ngIf="takeoutAvailable">
    <button class="circle" [style.background-color]="takeoutColor" (click)="selectTakeOut()" ion-button> &nbsp;</button>
  </ion-col>
  <ion-col text-center *ngIf="deliveryAvailable">
    <button class="circle" [style.background-color]="deliveryColor" (click)="selectDelivery()" ion-button> &nbsp;</button>
  </ion-col>
</ion-row>
<ion-row  class="pickup-method">
  <ion-col [style.color]="inStoreColor" (click)="pickupChange(0)" no-padding no-margin text-center> 
    매장
  </ion-col>
  <ion-col text-center *ngIf="takeoutAvailable" (click)="pickupChange(1)" [style.color]="takeoutColor" no-padding no-margin text-center>
    포장
  </ion-col>
  <ion-col text-center *ngIf="deliveryAvailable" (click)="pickupChange(2)" [style.color]="deliveryColor" no-padding no-margin text-center>
    배달
  </ion-col>
</ion-row>
<div text-center *ngIf="takeout==2" class="delivery-text-area">
    <ion-textarea [(ngModel)]="deliveryAddress" placeholder="배송지를 입력해주세요.한글,영문,숫자이외 문자는 전달되지 않습니다."></ion-textarea>
</div>
</div>
<div class="pay-amount">
  <ion-row  class="pay-amount-label" no-padding no-margin>
    <ion-col no-padding no-margin text-left> 결제내역</ion-col>
    <ion-col no-padding no-margin text-right> <amount-display [amount]="totalAmount"></amount-display>원</ion-col>
  </ion-row>
<ion-row class="delivery-fee" *ngIf="deliveryFee!=undefined && takeout==2">
<ion-col class="coupon-label" no-padding no-margin>
배달비
</ion-col>
<ion-col no-padding no-margin text-right>
   <amount-display [amount]="deliveryFee"></amount-display>원
</ion-col>
</ion-row>
  
<ion-row *ngIf="menuDiscountAmount>0" class="coupon-button" no-padding no-margin>
<ion-col class="coupon-label" no-padding no-margin>
메뉴 할인금액
</ion-col>
<ion-col no-padding no-margin text-right>
 -<amount-display [amount]="menuDiscountAmount"></amount-display>원
</ion-col>
</ion-row>
<ion-row *ngIf="menuDiscountAmount>0 && cashDiscountAmount>0" class="coupon-button" no-padding no-margin>
<ion-col class="coupon-label" no-padding no-margin>
캐시 할인금액
</ion-col>
<ion-col no-padding no-margin text-right>
 -<amount-display [amount]="cashDiscountAmount"></amount-display>원
</ion-col>
</ion-row>

<ion-row *ngIf="paymentSelection=='cash' && menuDiscountAmount==0 && cashDiscount>0" class="coupon-button" no-padding no-margin>
<ion-col class="coupon-label" no-padding no-margin>
캐시결제 할인금액
</ion-col>
<ion-col no-padding no-margin text-right>
  -<amount-display [amount]="cashDiscount"></amount-display>원
</ion-col>
</ion-row>

<ion-row *ngIf="couponDiscountAmount && couponDiscountAmount>0" class="coupon-button" no-padding no-margin>
<ion-col class="coupon-label" no-padding no-margin>
쿠폰 결제 할인금액
</ion-col>
<ion-col no-padding no-margin text-right>
  -<amount-display [amount]="couponDiscountAmount"></amount-display>원
</ion-col>
</ion-row>

<ion-row *ngIf="paymentSelection=='card'" class="coupon-button" no-padding no-margin>
<ion-col class="coupon-label" no-padding no-margin>
카드결제 할인금액
</ion-col>
<ion-col no-padding no-margin text-right>
  -<amount-display [amount]="cardDiscount"></amount-display>원 
</ion-col>
</ion-row>
  
  <ion-row class="amount-value" no-padding no-margin>
    <ion-col no-padding no-margin>
    <b>결제 금액</b>
    </ion-col>
    <ion-col text-right no-padding no-margin>
      <b *ngIf="deliveryFee!=undefined"><amount-display [amount]="payAmount+deliveryFee"></amount-display>원</b>
      <b *ngIf="deliveryFee==undefined"><amount-display [amount]="payAmount"></amount-display>원</b>      
    </ion-col>
  </ion-row>
</div>
<div class="paymethod">
  <ion-row  class="pay-amount-label" no-padding no-margin>
    결제방식
  </ion-row>
<!--
<div class="scroll-div" *ngIf="cardAvailable">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                <ion-col [ngClass]="currentCashClasses" text-center no-padding >
                  <ion-row style="border:0px;" >
                  <button no-margin no-padding  ion-button class="cash-label"  full (click)="cashSelect()" style="font-size:4.5vw;"> <b><custom-icon set="tabs" name="coin"></custom-icon>웨이티 캐시</b></button>
                  </ion-row>
                  <ion-row class="cash-value-row"  style="border:0px;"> 
                  <button no-margin no-padding  ion-button  class="cash-value"  full  (click)="cashSelect()" style="font-size:4vw;"> 잔액:<amount-display [amount]="storageProvider.cashAmount"></amount-display>원</button>
                  </ion-row>
                  <ion-row>
                    <button class="cash-charge" style="color:white;" (click)="moveChargePage()" no-padding no-margin full clear ion-button>충전</button>
                  </ion-row>
                </ion-col>
                 <ion-col [ngClass]="currentCardClassesArray[i]" [style.background-color]="payment.background" *ngFor="let payment of storageProvider.payInfo;let i=index;"  no-padding>
                            <ion-row class="card-remove"><ion-col col-10 no-padding no-margin >&nbsp;</ion-col> 
                                    <ion-col col-2 no-padding no-margin><button (click)="removeCard(i)" no-padding no-margin ion-button clear style="color:white;"><ion-icon name="md-close"></ion-icon></button></ion-col>
                            </ion-row>
                            <button class="card-button"  (click)="cardSelect(i)" full clear no-padding no-margin ion-button>
                              {{payment.info.name}} 
                            </button>                     
                            <button style="font-size:4vw;" (click)="cardSelect(i)" class="card-button" full clear no-padding no-margin ion-button>
                              {{payment.info.mask_no}} 
                            </button>
                </ion-col>
                 <ion-col text-center class="card-add card-button scroll-col-latest"  no-padding>
                              <ion-row text-center class="card-add-label"><b style="font-size:4.5vw;">카드 등록</b></ion-row>
                              <ion-row text-center class="card-add-label"><span style="font-size:3.4vw;">10원이 결제되고 등록 후 취소됩니다</span></ion-row>
                              <ion-row text-center>
                                <button style="background-color:#e8e8e8;;color:#FF5F3A;" (click)="addCard()" no-padding no-margin full ion-button>
                                    <b style="font-size:4.8vw;"><ion-icon name="ios-add-circle-outline"></ion-icon></b>
                                </button>
                              </ion-row>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>
<div class="scroll-div" *ngIf="!cardAvailable">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                <ion-col class="cash-card card-unselect-border scroll-col-latest" text-center no-padding >
                  <ion-row style="border:0px;" >
                  <button no-margin no-padding   class="cash-label" ion-button full (click)="cashSelect()" style="font-size:4.5vw;"> <b><custom-icon set="tabs" name="coin"></custom-icon>웨이티 캐시</b></button>
                  </ion-row>
                  <ion-row  class="cash-value-row"  style="border:0px;"> 
                  <button no-margin no-padding  ion-button class="cash-value"  full  (click)="cashSelect()" style="font-size:4vw;"> 잔액: <amount-display [amount]="storageProvider.cashAmount"></amount-display>원</button>
                  </ion-row>
                  <ion-row>
                    <button class="cash-charge" style="color:white;" (click)="moveChargePage()" no-padding no-margin full clear ion-button>충전</button>
                  </ion-row>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>
-->
<div class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                <ion-col class="cash-card card-unselect-border scroll-col-latest" text-center no-padding >
                  <ion-row style="border:0px;" >
                  <button no-margin no-padding   class="cash-label" ion-button full (click)="cashSelect()" style="font-size:4.5vw;"> <b><custom-icon set="tabs" name="coin"></custom-icon>웨이티 캐시</b></button>
                  </ion-row>
                  <ion-row  class="cash-value-row"  style="border:0px;"> 
                  <button no-margin no-padding  ion-button class="cash-value"  full  (click)="cashSelect()" style="font-size:4vw;"> 잔액: <amount-display [amount]="storageProvider.cashAmount"></amount-display>원</button>
                  </ion-row>
                  <ion-row>
                    <button class="cash-charge" style="color:white;" (click)="moveChargePage()" no-padding no-margin full clear ion-button>충전</button>
                  </ion-row>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>
</div>

<div class="notice-section">
<ion-row *ngIf="paymentSelection=='cash'">
  현금영수증 발행을 원하시면 나의 정보에서 설정해주시기 바랍니다
</ion-row>  
<ion-row [hidden]="!storageProvider.receiptIssue">
  <ion-col style="padding-left:0px">현금영수증 발행 </ion-col>
  <ion-col>{{storageProvider.receiptId}}</ion-col>
  <ion-col *ngIf="storageProvider.receiptType=='IncomeDeduction'">소득공제</ion-col>
  <ion-col *ngIf="storageProvider.receiptType=='ExpenseProof'">지출증빙</ion-col>
</ion-row>
<br>
<ion-row no-padding no-margin>
  <ion-col col-3 no-padding no-margin>
    제공받는자
  </ion-col>
  <ion-col col-9 no-padding no-margin>
    더큰도시락
  </ion-col>
</ion-row>
<ion-row no-padding no-margin>
  <ion-col col-3 no-padding no-margin>
    항목
  </ion-col>
  <ion-col  col-9 no-padding no-margin>
    휴대폰번호
  </ion-col>
</ion-row>
<ion-row no-padding no-margin>
  <ion-col col-3 no-padding no-margin>
    목적
  </ion-col>
  <ion-col  col-9 no-padding no-margin>
    판매자와 구매자의 거래의 원활한 진행, 본인 의사의 확인,
    고객상담 및 불만처리 등
  </ion-col>  
</ion-row>
<ion-row no-padding no-margin>
  <ion-col col-3 no-padding no-margin>
    제공기간
  </ion-col>
  <ion-col  col-9 no-padding no-margin>
    주문 시점에서 전달완료 또는 취소 이후 24시간
  </ion-col>  
</ion-row>
</div>
</ion-content>
<ion-footer>
  <button no-margin ion-button full (click)="pay()">결제하기</button>
</ion-footer>