page-cash-charge {
    //ion-content{
    //    height:calc((550/667)*100vh);
    //}
    .toolbar-background-ios {
        background: $default-color;
        color:white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }

    .toolbar-title-ios {
        color: white;
    }

    .account-info{
        background-color:$default-color;
        margin-top:calc((26/667)*100vh) !important;  
        margin-left:calc((55/376)*100vw) !important;
        margin-right:calc((55/376)*100vw) !important;
        height:calc((142/667)*100vh) !important;  
        border-radius: 8px;
        color:white;

        .message{
            padding-top:calc((40/667)*100vh);
            padding-bottom:calc((10/667)*100vh);
            font-size:4.5vw;
        }

        .account{
            padding-top:calc((10/667)*100vh);
            padding-bottom:calc((10/667)*100vh);
            font-size:4.5vw;           
        }
    }

       .tutorial-button{
        padding-left:calc((13/375)*100vw);
        padding-right:calc((12/375)*100vw);
        padding-top:calc((23/667)*100vh);
        padding-bottom:calc((23/667)*100vh);
        background-color:#f2f2f2;
        button{
            width:calc((350/375)*100vw);
            height:calc((55/667)*100vh);
            background-color: #33b9c6;;
            font-size:4.5vw; 
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: center;
            color: #ffffff;
            border-radius: 5px;
        }
    }


    .account-copy{
        margin-right:calc((55/376)*100vw) !important;
        button{
            height:calc((30/667)*100vh);
            span{
                font-size:3.4vw;
                color: #4a4a4a;                
            }      
        }      
    }

    .cash-id{
        border-bottom:solid calc((19/667)*100vh) #f2f2f2;
        font-size:4.5vw;
        color: $default-color;
        padding-left:calc((20/376)*100vw); 
        padding-right:calc((20/376)*100vw); 
        height:calc((73/667)*100vh); //60+13
        padding-top:calc((15/667)*100vh);
    }

    .manual-check{
        color: $default-color;
        background-color:white;
        .question{
            width: calc((320/376)*100vw) 
        }
        span{
            font-size: 4.5vw;
        }
        padding-top:calc((10/667)*100vh);
        height:calc((50/667)*100vh);
    }

    .warning-section{
       	color: #bdbdbd;
        background-color: #f2f2f2;
        height:calc((175/667)*100vh); //???
        padding-top:calc((23/667)*100vh);
        font-size:3.4vw;
   }

   .tutorial{
       width: calc((320/376)*100vw)        
   }  
}
