<!--
  Generated template for the MyFavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <!--
<div class="header" text-center>
<b>주문목록</b>
</div>  
-->  
<div text-center *ngIf="storageProvider.shopList.length==0" >
    <div class="empty-img">
        <img src="assets/imgs/profile-empty.png">
    </div>
    <div class="empty-text">
   즐겨찾는 메뉴와 음식점이 없네요!<br>
   첫주문을 해주시겠어요?
   </div> 
</div>

<p *ngIf="storageProvider.shopList.length!=0" class="section-title section-shop-title"><b>즐겨찾는 음식점</b></p>
<div *ngIf="storageProvider.shopList.length!=0 && shops.length!=0" >
            <ion-row>
                <ion-col *ngIf="shops.length>0" class="col-left">
                            <button color="white" class="shop-button" (click)="enterShop(shops[0].takitId)" no-padding no-margin ion-button>
                                <img  [src]="shops[0].imagePath">
                                <p class="name-sub">{{shops[0].name_sub}}</p>
                                <p class="name-main"><b>{{shops[0].name_main}}&nbsp;({{shops[0].count}}회)</b></p>
                                <!--
                                <p class="classification">{{shops[0].classification}}</p>
                                <div class="star_rating">
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <p>{{shops[0].star_rating}}</p>
                                </div>
                                -->
                            </button>
                </ion-col>
                <ion-col *ngIf="shops.length>1">
                            <button color="white" class="shop-button" (click)="enterShop(shops[1].takitId)" no-padding no-margin ion-button>
                                <img  [src]="shops[1].imagePath">
                                <p class="name-sub">{{shops[1].name_sub}}</p>
                                <p class="name-main"><b>{{shops[1].name_main}}&nbsp;({{shops[1].count}}회)</b></p>
                                <!--
                                <p class="classification">{{shops[1].classification}}</p>
                                <div class="star_rating">
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <p>{{shops[1].star_rating}}</p>
                                </div>
                                -->
                            </button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="shops.length>2">
                <ion-col *ngIf="shops.length>2" class="col-left">
                            <button color="white" class="shop-button"  (click)="enterShop(shops[2].takitId)" no-padding no-margin ion-button>
                                <img  [src]="shops[2].imagePath">
                                <p class="name-sub">{{shops[2].name_sub}}</p>
                                <p class="name-main"><b>{{shops[2].name_main}}&nbsp;({{shops[2].count}}회)</b></p>
                                <!--
                                <p class="classification">{{shops[2].classification}}</p>
                                <div class="star_rating">
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <p>{{shops[2].star_rating}}</p>
                                </div>
                                -->
                            </button>
                </ion-col>
                <ion-col *ngIf="shops.length>3">
                            <button color="white" class="shop-button"(click)="enterShop(shops[3].takitId)"  no-padding no-margin ion-button>
                                <img  [src]="shops[3].imagePath">
                                <p class="name-sub">{{shops[3].name_sub}}</p>
                                <p class="name-main"><b>{{shops[3].name_main}}&nbsp;({{shops[3].count}}회)</b></p>
                                <!--
                                <p class="classification">{{shops[3].classification}}</p>
                                <div class="star_rating">
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <p>{{shops[3].star_rating}}</p>
                                </div>
                                -->
                            </button>
                </ion-col>
            </ion-row>            
</div>
<!--
<p *ngIf="storageProvider.shopList.length!=0" class="section-title"><b>즐겨찾는 메뉴</b></p>
<div *ngIf="storageProvider.shopList.length!=0 && menus.length!=0">
            <ion-row>
                <ion-col *ngIf="menus.length>0" class="col-left">
                            <button class="menu-button" (click)="selectMenu(menus[0])" no-padding no-margin ion-button>
                                <img  [src]="menus[0].fullImagePath">
                                <p class="menu-shopname-sub">{{menus[0].name_sub}}</p>
                                <p class="menu-shopname-main">{{menus[0].name_main}}</p>
                                <p class="menu-name"><b>{{menus[0].menuName}}&nbsp;({{menus[0].count}}회)</b></p>
                                <p class="menu-price"><amount-display [amount]="menus[0].price" ></amount-display></p>
                            </button>
                </ion-col>
                <ion-col *ngIf="menus.length>1" >
                            <button class="menu-button" (click)="selectMenu(menus[1])" no-padding no-margin ion-button>
                                <img  [src]="menus[1].fullImagePath">
                                <p class="menu-shopname-sub">{{menus[1].name_sub}}</p>
                                <p class="menu-shopname-main">{{menus[1].name_main}}</p>
                                <p class="menu-name"><b>{{menus[1].menuName}}&nbsp;({{menus[1].count}}회)</b></p>
                                <p class="menu-price"><amount-display [amount]="menus[1].price" ></amount-display></p>
                            </button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="menus.length>2" >
                <ion-col  *ngIf="menus.length>2"   class="col-left">
                            <button class="menu-button" (click)="selectMenu(menus[2])" no-padding no-margin ion-button>
                                <img  [src]="menus[2].fullImagePath">
                                <p class="menu-shopname-sub">{{menus[2].name_sub}}</p>
                                <p class="menu-shopname-main">{{menus[2].name_main}}</p>
                                <p class="menu-name"><b>{{menus[2].menuName}}&nbsp;({{menus[2].count}}회)</b></p>
                                <p class="menu-price"><amount-display [amount]="menus[2].price" ></amount-display></p>
                            </button>
                </ion-col>
                <ion-col *ngIf="menus.length>3" >
                            <button class="menu-button" (click)="selectMenu(menus[3])" no-padding no-margin ion-button>
                                <img  [src]="menus[3].fullImagePath">
                                <p class="menu-shopname-sub">{{menus[3].name_sub}}</p>
                                <p class="menu-shopname-main">{{menus[3].name_main}}</p>
                                <p class="menu-name"><b>{{menus[3].menuName}}&nbsp;({{menus[3].count}}회)</b></p>
                                <p class="menu-price"><amount-display [amount]="menus[3].price" ></amount-display></p>
                            </button>
                </ion-col>
            </ion-row>            
</div>
-->
<ion-fab bottom right>
    <button class="fab-btn" (click)="openCart()" ion-fab color="white">
      <custom-icon set="tabs" name="cart"></custom-icon>
    </button>
</ion-fab>
<ion-fab bottom left *ngIf="storageProvider.tourMode">
    <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
      <custom-icon set="tabs" name="exit"></custom-icon>
    </button>
</ion-fab>

</ion-content>
