<ion-content >

<button text-left ion-button (click)="showSearchBar()" class="searchbar-button">
  <ion-icon name="ios-search-outline"></ion-icon> 
  <span text-left>원하는 음식점을 검색하세요!</span>
</button>
<!--
<div class="searchbar-overlay" padding [hidden]="overlayHidden">
  <ion-row>
    <ion-col col-10>
    <ion-searchbar (ionInput)="getShops($event)" cancelButtonText="취소" placeholder="원하는 음식점을 검색하세요!" [(ngModel)]="searchShop" [hidden]="overlayHidden"></ion-searchbar>
    </ion-col>
    <ion-col col-2>
      <button ion-button (click)="onCancel($event)" outline  style="border-color: white;color: white;padding:0px;">취소</button>
    </ion-col>
  </ion-row>  
    <ion-list>
      <ion-item *ngFor="let item of shops">
        {{ item }}
      </ion-item>
    </ion-list>
</div>
-->
<p class="section-title"><b>추천 음식점</b></p>
<div class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                 <ion-col *ngFor="let shop of recommendations" class="scroll-col-latest"  no-padding>
                            <button class="shop-button" (click)="enterShop(shop.takitId)" no-padding no-margin ion-button>
                                <img  [src]="shop.imagePath">
                                <!--                               
                                <img  [src]="awsS3+shop.takitId">
                                -->
                                <p class="name-sub">{{shop.name_sub}}</p>
                                <p class="name-main"><b>{{shop.name_main}}</b></p>
                                <!--
                                <p class="classification">{{shop.classification}}&nbsp;
                                  -->
                                <p class="classification">
                                  <span class="noti-box" *ngIf="shop.payment.cash!=undefined">캐쉬
                                  <b *ngIf="shop.payment.cash!=undefined && shop.payment.cash!='0%'">{{shop.payment.cash}}</b></span>&nbsp;
                                  <span class="noti-box" *ngIf="shop.payment.card!=undefined">카드
                                  <b *ngIf="shop.payment.card!=undefined && shop.payment.card!='0%'">{{shop.payment.card}}</b></span>
                                  <span class="noti-box" *ngIf="shop.deliveryArea!=undefined && shop.deliveryArea!=null">배달</span>
                                </p>

                                <div class="star_rating">
                                  <ion-icon *ngIf="shop.rate>0.7" name="md-star"></ion-icon>
                                  <ion-icon *ngIf="shop.rate <0.3" name="ios-star-outline"></ion-icon>
                                  <ion-icon *ngIf="0.3 <=shop.rate && shop.rate<= 0.7" name="ios-star-half"></ion-icon>
                                  <ion-icon *ngIf="shop.rate>1.7" name="md-star"></ion-icon>
                                  <ion-icon *ngIf="shop.rate <1.3" name="ios-star-outline"></ion-icon>
                                  <ion-icon *ngIf="1.3 <=shop.rate && shop.rate<= 1.7" name="ios-star-half"></ion-icon>
                                  <ion-icon *ngIf="shop.rate>2.7" name="md-star"></ion-icon>
                                  <ion-icon *ngIf="shop.rate <2.3" name="ios-star-outline"></ion-icon>
                                  <ion-icon *ngIf="2.3 <=shop.rate && shop.rate<= 2.7" name="ios-star-half"></ion-icon>
                                  <ion-icon *ngIf="shop.rate>3.7" name="md-star"></ion-icon>
                                  <ion-icon *ngIf="shop.rate <3.3" name="ios-star-outline"></ion-icon>
                                  <ion-icon *ngIf="3.3 <=shop.rate && shop.rate<= 3.7" name="ios-star-half"></ion-icon>
                                  <ion-icon *ngIf="shop.rate>4.7" name="md-star"></ion-icon>
                                  <ion-icon *ngIf="shop.rate <4.3" name="ios-star-outline"></ion-icon>
                                  <ion-icon *ngIf="4.3 <=shop.rate && shop.rate<= 4.7" name="ios-star-half"></ion-icon>
                                  <p>{{shop.rate}}</p>
                                </div>

                            </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>

<p class="section-title"><b>최근 주문 음식점</b></p>
<div  *ngIf="storageProvider.shopList==null || storageProvider.shopList==undefined ||storageProvider.shopList.length==0" >
<p class="section-title">웨이티에 오신 것을 환영합니다!</p>
<p class="section-title">첫주문을 해주시겠어요?</p>
<div text-right>
<img class="profile-smile" src="assets/imgs/profile-smile.png">
</div>
</div>
<!--
<div class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                 <ion-col *ngFor="let shop of recently_visited_shop" class="scroll-col-latest"  no-padding>
                            <button class="shop-button" (click)="enterShop(shop.takitId)" no-padding no-margin ion-button>
                                <img  [src]="shop.imagePath">
                                <p class="name-sub">{{shop.name_sub}}</p>
                                <p class="name-main"><b>{{shop.name_main}}</b></p>
                                <p class="classification">{{shop.classification}}</p>
                                <div class="star_rating">
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <ion-icon name="md-star"></ion-icon>
                                  <p>{{shop.star_rating}}</p>
                                </div>
                            </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>
-->

<div *ngIf="storageProvider.shopList!=null && storageProvider.shopList!=undefined && storageProvider.shopList.length>0" class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                 <ion-col *ngFor="let shop of storageProvider.shopList" class="scroll-col-latest"  no-padding>
                            <button color="white" class="shop-button" (click)="enterShop(shop.takitId)" no-padding no-margin ion-button>
                                <img  [src]="storageProvider.awsS3+shop.imagePath">
                                <p class="name-sub">{{shop.name_sub}}</p>
                                <p class="name-main"><b>{{shop.name_main}}</b></p>
                                <!--
                                <p class="classification">{{shop.classification}}&nbsp;
                                -->
                                
                                <p class="classification">
                                  <span class="noti-box" *ngIf="shop.paymethod.cash!=undefined">캐시
                                  <b *ngIf="shop.paymethod.cash!=undefined && shop.paymethod.cash!='0%'">{{shop.paymethod.cash}}</b></span>&nbsp;
                                  <span class="noti-box" *ngIf="shop.paymethod.card!=undefined">카드
                                  <b *ngIf="shop.paymethod.card!=undefined && shop.paymethod.card!='0%'">{{shop.paymethod.card}}</b></span>
                                  <span class="noti-box" *ngIf="shop.deliveryArea!=undefined && shop.deliveryArea!=null">배달</span>                                  
                                </p>
                                
                            </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>

<ion-fab bottom right>
    <button class="fab-btn" (click)="openCart()" ion-fab color="white">
      <custom-icon set="tabs" name="cart"></custom-icon>
    </button>
</ion-fab>
<ion-fab bottom left>
    <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
      <custom-icon set="tabs" name="exit"></custom-icon>
    </button>
</ion-fab>

</ion-content>
