page-sold-out {
    .scroll-categories{
        width: 100%;
        height: 100%;
        padding-bottom: 5%;
        margin : 0px;
    }

    .col-categories{
        .list-ios {
            margin: 0px;
        }
        .item-ios {
            padding-left: 0px;
        }
        .item-inner{
            background-color:white; 
            border-bottom:0px;
            padding:0px !important;
        }
        .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
            border-bottom: 0px;
        }
        .list-ios > .item-block:first-child {
            border-top: 0px;
        }
        .list-ios .item-block .item-inner {
            border-bottom: 0px;
        }
        button{
            span{
              justify-content: left;  
            }
        }
        .item-ios .item-button {
            padding-left: 5px;
            padding-right:0px; 
           // height: 30px;
        }
    }

    .no-scroll >.scroll-content{
            overflow: hidden;
    }

    .col-menus{
        height: 100%;
        padding:0px;
        ion-scroll{
            width: 100%;
            height: 100%;
            padding-bottom: 5%;
            margin : 0px;
            button{
                border-left: solid;
                border-bottom: solid;
                border-width: 0.5px;
                border-color: #bdbdbd;

                height: 175px;
                h2{
                    //font-size:3.4vw;
                    color:#4a4a4a;
                }
                p{
                    color:$default-color;
                }
                .img-shop{
                    //margin-left:1.25vw;
                    width:  120px;
                    height: 120px;
                    background-size: 120px 120px;                 
                    label{
                        //padding-top:40px;
                        //font-size:6 px;
                        color:red;
                    }
                }
                img{
                    //margin-left:1.25vw;
                    width:  120px;
                    height: 120px;
                }

                ion-item.left{
                    .item-inner{
                        border-left: solid;
                        border-width: 1px;
                        border-color: #bdbdbd;
                    }
                }
                 .item-inner{
                        border-bottom:0px !important;
                 }
            }
        }
         .item-inner{
            padding:0px !important;
        }
    }

        .img-shop{
            //margin-left:1.25vw;
            width:  15vw;//120px;
            height: 15vw;//120px;
            background-size: 15vw 15vw;//120px 120px;
            margin-left:2.5vw;
            margin-right:2.5vw;
            margin-top:2.5vw;                 
            ion-label{
                //padding-top:40px;
                font-size: 3.4vw;
                color:red;
            }
        }

    .row-categories-menus{
        border-top: solid;
        border-color: #f2f2f2;
        border-width: 2px;
        //height: 90px;
    }

    .text-border{
        border-radius: 8px;
	    border: solid 1px #6441a5;
       // font-size: 2.6px;
    }

    .label-ios {
         margin: 0px;
     }

     .soldout{
        border: solid 2px #33b9c6;
        border-radius: 23.5px;
        background-color:white;
     }
}
