<!--
  Generated template for the SoldOutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>판매종료</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-row *ngIf="categoryLevel">
        <ion-col  *ngFor="let store of stores;let i=index;">
            <ion-row>
            <button ion-button clear (click)="storeClick(i)" no-margin no-padding>
                <p text-left [style.color]="configureStoreButtonColor(i)" *ngIf="allSoldOutStore(i)"  style="text-decoration:overline line-through underline;" text-wrap> {{store.name}}</p> 
                <p text-left [style.color]="configureStoreButtonColor(i)" *ngIf="!allSoldOutStore(i)"  text-wrap> {{store.name}}</p> 
            </button>
            <button clear ion-button no-margin no-padding *ngIf="allSoldOutStore(i)" (click)="saleStore(store)">  <ion-icon name="ios-radio-button-off-outline"></ion-icon> </button>            
            <button clear ion-button no-margin no-padding *ngIf="!allSoldOutStore(i)"  (click)="soldOutStore(store)">  <ion-icon name="ios-close-circle-outline"></ion-icon> </button>
            </ion-row>
        </ion-col>
    </ion-row>
<ion-row class="row-categories-menus">
             <ion-col col-3 class="col-categories" no-padding>
                    <ion-list>
                        <ion-item *ngFor="let category of categories;let i=index;">
                          <ion-row>
                              <ion-col text-center align-self-center>
                                <button style="background-color:white;" value="i" (click)="categoryClick(i+1)" ion-button full  no-padding no-margin>
                                    <p text-left [style.color]="configureButtonColor(i)" [style.text-decoration]="configureTextDecoration(category)" text-wrap> {{category.categoryName}} </p>
                                </button>
                              </ion-col>
                              <ion-col text-center align-self-center>
                                <button *ngIf="allSoldOut(category)" clear ion-button (click)="saleCategory(category)"> <ion-icon name="ios-radio-button-off-outline"></ion-icon></button>
                                <button *ngIf="!allSoldOut(category)" clear ion-button (click)="soldOutCategory(category)"> <ion-icon name="ios-close-circle-outline"></ion-icon></button>
                              </ion-col>
                          </ion-row>
                        </ion-item>
                    </ion-list>
             </ion-col>
            <ion-col  col-9 class="col-menus">
                <!--
                <ion-scroll scrollY="true">
                -->
                    <ion-row>
                    <ion-col col-3  *ngFor="let menu of nowMenus"   [style.background-color]="configureMenuColor(menu)" text-center no-padding no-margin>
                        <div >
                            <button (click)="selectMenu(menu)"  class="img-shop" style="background-color:white;" [ngStyle]="menu.ngStyle"  ion-button full no-padding no-margin>
                                <div text-center align-self-center >
                                <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;</ion-label> 
                                <ion-label *ngIf="menu.soldout==1" style="color:red;" class="soldout"> <b>판매종료</b></ion-label>
                                <ion-label *ngIf="menu.soldout==0"> &nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                                </div>
                            </button>
                            <ion-label text-center>{{menu.menuName}}</ion-label>
                            <ion-label text-center>{{menu.price}}</ion-label>
                        </div>
                    </ion-col>
                    </ion-row>
                    <!--
                </ion-scroll>
                -->
            </ion-col>
</ion-row>
</ion-content>
