page-password-reset {
    .toolbar-background-ios {
        background: $default-color;
        color:white;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
        border-style: hidden;
    }

    ion-title{
        font-size:4.8vw;
    }

    .toolbar-title-ios {
        color: white;
    }

    .content-ios{
        background-color:$default-color;
    }

    .upper{
        height: calc((100/667)*100vh);
    }

    .list-ios > .item-block:first-child {
         border-top: 0px; 
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }

    .item-ios{
        background-color:inherit;
        color:white;
    }

    .keypad-input{
        margin-left: calc((38/376)*100vw);
        height: calc((28/667)*100vh);
        width: calc((290/376)*100vw);
        font-size: 4vw !important;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
        ion-label{
            width:calc((70/376)*100vw);
        }
        .item-inner .input-wrapper{    
            border-bottom: 0.55px solid white !important;
        }
    }

    .list-ios .item-block .item-inner {
        border-bottom: 0px;
    }

    .under-buttons{
        height:calc((28/667)*100vh);
    }

    .under_input{
        height:calc((95/667)*100vh);
    }

    .notice{
        padding-top:calc((40/667)*100vh);
    }

    .btn {
        margin-left: calc((38/376)*100vw);
        width:  calc((310/376)*100vw);
        height: calc((42/667)*100vh);
        border-radius: 8px;
        border: solid 1px #ffffff;
        color:white;
        font-size:4vw;
    }

}
