<!-- Generated template for the AmountDisplayComponent component -->
   <span *ngIf="(amount-amount%1000)>0 && (amount%1000)>=100">{{(amount-amount%1000)/1000}},{{amount%1000}}</span>
   <span *ngIf="(amount-amount%1000)>0 && (amount%1000)<100 && (amount%1000)>=10">{{(amount-amount%1000)/1000}},0{{amount%1000}}</span>
   <span *ngIf="(amount-amount%1000)>0 && (amount%1000)<10">{{(amount-amount%1000)/1000}},00{{amount%1000}}</span>
   <span *ngIf="(amount-amount%1000)==0">{{amount%1000}}</span>

