<ion-content>
<div class="header" text-center>
<b>주문목록</b>
</div>
<!--
<ion-row class="selection-area">
  <ion-col [ngStyle]="colStyle[0]" no-padding>
    <button (click)="select(0)" [ngStyle]="buttonStyle[0]" no-padding no-margin full clear ion-button>
    <b>1개월</b>
    </button>
  </ion-col>
  <ion-col [ngStyle]="colStyle[1]" no-padding>
    <button (click)="select(1)" [ngStyle]="buttonStyle[1]" no-padding no-margin full clear ion-button>
    <b>2개월</b>
    </button>
  </ion-col>
  <ion-col [ngStyle]="colStyle[2]" no-padding>
    <button (click)="select(2)" [ngStyle]="buttonStyle[2]" no-padding no-margin full clear ion-button>
    <b>3개월</b>
    </button>
  </ion-col>
  <ion-col [ngStyle]="colStyle[3]" no-padding>
    <button (click)="select(3)" [ngStyle]="buttonStyle[3]" no-padding no-margin full clear ion-button>
    <b>6개월</b>
    </button>
  </ion-col>  
</ion-row>
-->

<ion-row class="search-area">
  <ion-col class="left-col" col-8 no-padding>
      <ion-input text-right type="text" [(ngModel)]="searchText" placeholder="가게명,음식명 조회하기"></ion-input>
  </ion-col>
  <ion-col class="right-col" col-1 no-padding>
    <button (click)="search()" no-padding no-margin [hidden]="searchDone" clear ion-button>
    <ion-icon  name="ios-search"></ion-icon>
    </button>
    <button (click)="clear()" no-padding no-margin [hidden]="!searchDone" clear ion-button>
    <ion-icon  name="md-close"></ion-icon>
    </button>
  </ion-col>
  <ion-col  *ngIf="!periodShown" class="no-border" text-right col-3 no-padding>
    <button class="show-period-button" (click)="periodOn()" no-padding no-margin ion-button clear style="font-size:4vw;"> 기간조회 &nbsp;
      <ion-icon  name="ios-arrow-down"></ion-icon>
    </button> 
  </ion-col>
  <ion-col *ngIf="periodShown" class="no-border">
    &nbsp;
  </ion-col>
</ion-row>
<div  *ngIf="periodShown" class="period-section">
  <ion-row>
  <ion-col text-left col-4>
  <ion-datetime text-center no-padding displayFormat="YYYY/MM/DD" min="2018" (ionChange)="startPicker(startDate)" [(ngModel)]="startDate"></ion-datetime>
  </ion-col>
  <ion-col text-center class="center" col-1>
      -
  </ion-col>
  <ion-col text-left col-4> 
  <ion-datetime text-center no-padding displayFormat="YYYY/MM/DD" min="2018" (ionChange)="endPicker(endDate)" [(ngModel)]="endDate"></ion-datetime>
  </ion-col>
  <ion-col col-2 text-right>
      <button class="search-button" no-padding no-margin ion-button>조회</button>
  </ion-col>
  <ion-col col-1>
      <button class="up-button" (click)="periodOff()" clear no-padding no-margin ion-button><ion-icon  name="ios-arrow-up"></ion-icon></button>    
  </ion-col>
  </ion-row>
</div> 
<div class="history" *ngFor="let order of historyOrders">
  <ion-row class="order-first-line">
   <ion-col> {{order.orderName}}</ion-col>
   <ion-col text-right>  {{order.amount}}원</ion-col>
  </ion-row>
  <ion-row class="order-second-line">
    <ion-col>
    {{order.shopName}} 
    </ion-col>
    <ion-col style="color: #bdbdbd;" text-right> {{order.orderedTimeString}}
    </ion-col>
  </ion-row>
  <ion-row class="order-third-line">
    <ion-col col-7 style="padding-right:0px;">
      <span style="color:#bdbdbd;">주문상태:</span>
      <span *ngIf="order.orderStatus!='pickup'" style="color:#bdbdbd;">{{order.orderStatusString}}</span>
      <span *ngIf="order.orderStatus=='pickup'" style="color:#6441a5;">{{order.orderStatusString}}</span>
    </ion-col>
    <ion-col style="padding-top:0px;" no-margin col-2 text-right>
      <button (click)="orderDetail(order)" full no-padding no-margin ion-button>주문상세</button>
    </ion-col>  
    <ion-col style="padding-top:0px;" no-margin col-3 text-right>
      <button full no-padding no-margin *ngIf="order.orderStatus=='paid'" ion-button>주문취소</button>
      <!--
      <button (click)="inputReview(order)" full no-padding no-margin *ngIf="order.orderStatus=='completed' || order.orderStatus=='pickup'"ion-button>후기작성</button>
      -->
      <button (click)="inputReview(order)" full no-padding no-margin *ngIf="order.orderStatus=='pickup' && order.review==null"ion-button>후기작성</button>
    </ion-col>  
  </ion-row>
</div>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

<ion-fab bottom color="primary" bottom right>
    <button class="fab-btn" (click)="exitTourMode()"ion-fab color="white">
        <ion-icon name="ios-exit-outline">
        </ion-icon>
    </button>
</ion-fab>
</ion-content>
