page-cash-tutorial {
    ion-navbar{
        height:calc((30/667)*100vh);
        .toolbar-background-ios {
            background: $default-color;
        }

        .toolbar-title-ios {
            text-align: center;
            font-size: 4.8vw;
            color: yellow//#33B9C6; 2018.07.04
        }
    }
    .p-desc-contents{
        margin:0px;
        font-size:4vw !important;
        color:white;
        margin-left:calc((60/375)*100vw);
        margin-right:calc((60/375)*100vw);
    }

    .addition{
        margin-left:calc((60/375)*100vw);
        margin-right:calc((60/375)*100vw);
    }

    .slide-zoom {
     //   margin-top:calc((20/667)*100vh);
    }

    .swiper-slide img {
        max-width: 65%;
        padding-top:calc((5/667)*100vh);
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
         border-style: none; 
    }

    .content-ios {
        background-color: $default-color;
    }
}
