<ion-content>
<button class="close-button" ion-button (click)="back()"><ion-icon name="md-close"></ion-icon>
</button>
<ion-searchbar class="keyword-input" 
              placeholder="브랜드 or 음식점 검색"
              [(ngModel)]="myInput"  
              (ionInput)="onInput($event)">
</ion-searchbar>
<div [hidden]="myInput==undefined || myInput.length==0" class="search-shops" *ngFor="let shop of shops">
<button ion-button (click)="goToShop(shop)">{{shop}}</button>    
</div>

<div  [hidden]="(myInput!=undefined && myInput.length>0) || (visited.length==0)" class="recent-label">
<p>최근 검색 상점</p> 
</div>

<div [hidden]="myInput!=undefined && myInput.length>0" class="shops" *ngFor="let shop of visited">
<button ion-button (click)="goToShop(shop)">{{shop}}</button>    
</div>
</ion-content>
