page-menu-search {
.toolbar .searchbar-ios {
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 30px;
        padding-top: 0px;
        background-color:$default-color;
    }
    .toolbar-ios {
        padding:0px;
    }
    .close-button{
        color:white;
    }

    .explain{
        color:white;
        font-size:4vw;
        padding-bottom: 20px;
    }

    .searchbar-ios .searchbar-input {
        font-size:4vw;
    }
    
    .searchbar-ios .searchbar-search-icon , .searchbar-ios .searchbar-ios-cancel{
        background-size: 30px;
    }

    .toolbar-content-ios{
        background-color:$default-color;        
    }
    .search-menus-div{
        .search-menus{
            height:50px;
            font-size:4vw;
            color:black;
            button{
                margin-left:calc((38/376)*100vw);
                margin-bottom:5px;
                width:calc((290/376)*100vw);
                span{
                    justify-content: left;
                }
            }
        }
        padding-left:100px;
        padding-top:50px;
    }

    .searchbar-div{
        padding-left:calc((50/375)*100vw);;
        padding-right:calc((50/375)*100vw);;    
    }
  
}
