<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <!--
      <button round class="english-button" ion-button icon-only>
        &nbsp;ENGLISH&nbsp;
      </button>
      -->
      <button round class="english-button" (click)="orderCheck()" ion-button icon-only>
        &nbsp;주문확인&nbsp;
      </button>
    </ion-buttons>
     <img *ngIf="shop.shopInfo && shop.shopInfo.imagePath" class="shop-img" [src]="shop.shopInfo.imagePath"> 
     <span class="by-pos"> by</span> 
     <img class="logo-img" src="assets/imgs/waitee.png">
    <ion-buttons end>
      <button ion-button icon-only (click)="search()" style="font-size:4.5vw;color:#FF5F3A">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="recommendation">
  <ion-row>
   <ion-col col-2> <img class="best-img" src="assets/imgs/tag_top.png"></ion-col> 
   <ion-col col-9 class="statement" style="color:#fff59c;">고민하지 말고 인기메뉴 빠르게 주문하세요.</ion-col>
   <ion-col col-1> <button ion-button no-padding no-margin class="configure-button" clear (click)="configuration()"><ion-icon name="ios-settings-outline"></ion-icon> </button></ion-col>
  </ion-row>
  <div class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                 <ion-col *ngFor="let menu of shop.bestMenus" class="scroll-col-latest">
                            <button (click)="enterMenu(menu)" class="menu-button" clear ion-button>
                                <div class="menu-img"><img [src]="menu.filename"></div>
                                <div class="menu-name"><p ><b>{{menu.menuName}}</b></p></div>
                                <div class="menu-price"><p><b><amount-display [amount]="menu.price"></amount-display>원</b></p></div>
                                <!--
                                <div class="menu-price"><p ><b>{{menu.price}}</b></p></div>
                                -->
                            </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
  </div> 
</div>
</ion-header>


<ion-content #homeContent>
<!--
<button ion-button (click)="connectPrinter()" >
  프린터 연결하기
</button>

<button ion-button (click)="print()" >
  출력하기 
</button>
-->
<ion-row no-padding no-margin>
  <ion-col col-6 no-padding no-margin style="border-bottom:dashed 0.5px #979797;" *ngFor="let category of categories;let i=index;">
    <button class="category-button" block icon-left full color="white" full clear ion-button (click)="selectCategory(i)">
      <ion-icon name="play" style="color:#FF5F3A;"></ion-icon>&nbsp;&nbsp;{{category.categoryName}}
    </button>
  </ion-col>
</ion-row>
 </ion-content>
<ion-footer  no-padding no-margin *ngIf="cartProvider.totalQuantity>0">
<ion-row class="order-list" style="background-color:#ff7f39;color:white;">
  <ion-col col-7 style="font-size:3.5vw;" text-center align-self-center>
  {{cartProvider.orderName}}
  </ion-col>
  <ion-col style="font-size:4.125vw;" text-center align-self-center>
    <b><amount-display [amount]="cartProvider.totalAmount"></amount-display>원</b>
  </ion-col>
  <ion-col col-2 text-center align-self-center>
    <button ion-button (click)="resetCart()" no-padding style="background-color:transparent;font-size:3.5vw;">전체삭제</button>
  </ion-col>
</ion-row>
<ion-row  no-padding no-margin>
  <!--
  <ion-col class="footer-area" style="background-color: #505355;color:white;" no-padding no-margin text-center align-self-center>
    <ion-row >
      <ion-col style="font-size:3.5vw;" no-padding no-margin text-center>
    {{cartProvider.orderName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-size:4vw;" no-padding no-margin text-center>
        <b><amount-display [amount]="cartProvider.totalAmount"></amount-display>원</b>
      </ion-col>
    </ion-row>
  </ion-col>
  -->
  <ion-col class="order-button" no-padding no-margin text-center align-self-center>
    <button (click)="moveOrderList()" full style="color: #ff7f39;background-color:white;" ion-button no-padding no-margin clear>    
     결제하기 
    </button>
  </ion-col>
</ion-row>
</ion-footer>
