<!--
  Generated template for the SignupPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
  <ion-buttons start>
    <button (click)="back()" style="color:white;background-color:#FF5F3A;"><ion-icon style="font-size:4.8vw;" name="ios-arrow-back"></ion-icon></button>
  </ion-buttons>
  <ion-title>  결제 정보 등록
  </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
    <ion-label class="value-label" >웨이티아이디(필수)</ion-label>
    </ion-item>
    <ion-row>
      <ion-col col-8>
        <ion-item>
        <ion-input class="keypad-input keypad-cashId" type="text" placeholder="영문,숫자조합 5~7자리" [(ngModel)]="cashId"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item class="duplicate">
        <button ion-button outline outline  color="skyblue" (click)="checkCashIdDuplicate()">중복확인</button>    
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item class="cashid-explain" no-padding no-margin>
          *대소문자 구분없음
    </ion-item>
    <ion-item>
    <ion-label class="value-label" style="margin-top:0px;" >결제비밀번호(필수)</ion-label>
    </ion-item>
    <ion-item>
    <button ion-button *ngIf="!passwordMask" class="keypad-button" clear (click)="passwordInput()">6자리 숫자</button>
    <button ion-button *ngIf="passwordMask" class="keypad-button" clear (click)="passwordInput()">******</button>
    </ion-item>
    <ion-item>
    <ion-label class="value-label" >결제비밀번호 확인(필수)</ion-label>
    </ion-item>
    <ion-item>
    <button ion-button *ngIf="!passwordConfirmMask" class="keypad-button" clear (click)="passwordConfirmInput()" >6자리 숫자</button>
    <button ion-button *ngIf="passwordConfirmMask" class="keypad-button" clear (click)="passwordConfirmInput()">******</button>    
    </ion-item>
    <ion-item>
    <ion-label class="value-label" >현금영수증 번호(선택)</ion-label>
    </ion-item>
    <ion-item>
    <ion-input class="keypad-input keypad-receiptId" [(ngModel)]="receiptId" type="number" pattern="[0-9a-zA-Z]{5,7}" ></ion-input>
    </ion-item>
    <ion-item>
    <ion-label class="select-label">현금 영수증 발급 목적(선택)</ion-label>
    <ion-select interface='action-sheet' [(ngModel)]="receiptType">
      <ion-option value="IncomeDeduction">소득공제용(개인)</ion-option>
      <ion-option value="ExpenseProof">지출증빙용(사업자)</ion-option>
    </ion-select>
    </ion-item>
<!--
    <ion-item [hidden]="receiptType!='ExpenseProof'">
    <ion-label class="value-label" >상호</ion-label>
    </ion-item>
    <ion-item [hidden]="receiptType!='ExpenseProof'">
    <ion-input class="keypad-input keypad-receiptId" type="text" ></ion-input>
    </ion-item>
    <ion-item [hidden]="receiptType!='ExpenseProof'">
    <ion-label class="value-label">이메일(전자세금계산서발급)</ion-label>
    </ion-item>
    <ion-item [hidden]="receiptType!='ExpenseProof'">
    <ion-input class="keypad-input keypad-receiptId" type="email" ></ion-input>
    </ion-item>
    -->
    <div>
      &nbsp;
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <button style="margin:0px;" (click)="registerPaymentInfo()" ion-button full>회원정보 저장하기</button>
</ion-footer>
