page-en-order-list {
    $primary-color:#FF5F3A;
    $secondary-color:#20dba5;


    .order-list-title{
        background-color:#505355;
        color:#ff7f39;
    }

    .pickup-area{
        background-color:white;
        padding-bottom: calc((10/667)*100vh);  
    }

   .pickup-method{
        .circle{
            background-color: $default-color;
            width: calc((47/376)*100vw);
            height: calc((47/376)*100vw);  
            border-radius: 50%;
        }
        padding-left:calc((40/376)*100vw);
        padding-right:calc((40/376)*100vw);
        font-size:4.5vw;
        color:$default-color;

   }

   .menu{
       font-size:3.6vw;

       button{
           font-size:3vw;
       }

       .gray-small{
           color:#949494;
           font-size:3.3vw;
       }
   }
/////////////////////////////////////////////////////////
.footer-area{
    height: 100px;
    font-size:4.75vw;
    //padding-top: calc((20/1280)*100vh);
    button{
        font-size:4.75vw;
    }
 }
 .cart-quantity{
    font-size:4.5vw;
    background-color:#20dba5;
    border-radius:50%;
    color:white;
    padding-left:10px;
    padding-right:10px;
 }     
/////////////////////////////////////////////////////////
    .choice{
        padding-left:75px;
        padding-right:75px;
        ion-label{
            font-size:3vw;
            color:#919191;
        }

        ion-radio{
            border-style:solid;
            border-width:1px;
            border-color:#919191;
            color:$primary-color;
        }
    }

    .notify-check{
        font-size:3vw;
        color: black;
        .checkbox-md .checkbox-checked {
            border-color: black !important;
            background-color: black !important;
        }
    }

///////////////////////////////////////////////
.paymentDone{
    font-size:calc((36/800)*100vw);
    color: #fff471; 
    padding-top:calc((78/800)*100vw);
    padding-bottom:calc((78/800)*100vw);

    font-family: TTOmniGothicM;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
};

.orderNumberLabel{
  font-family: TTOmniGothicL;
  font-size:calc((21/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
};

.orderNumber{
  font-family: Barlow;
  font-size:calc((110/800)*100vw);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  text-align: center;
  color: #ffffff;
};

.orderName{
  font-family: TTOmniGothicL;
  font-size: calc((24/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
};

.checkbox{
     width:calc((38/800)*100vw);
     height:calc((38/800)*100vw);
     margin-top: calc((86/800)*100vw);
     margin-bottom:0px;
};

.remember{
  font-family: TTOmniGothicL;
  font-size: calc((21/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.2px;
  text-align: center;
  color: #6a2a06;
};

.orderCheck{
  font-family: TTOmniGothicM;
  font-size: calc((21/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.2px;
  text-align: center;
  color: #6a2a06;
  padding-bottom: calc((57/800)*100vw);
}

.phoneNotifyLabel{
  padding-top:calc((20/800)*100vw);
  padding-bottom:calc((20/800)*100vw);
  font-family: TTOmniGothicL;
  font-size: calc((24/800)*100vw);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #494747;
}

.inputHeight{
    height:calc((110/800)*100vw);
}

.footer{
    height: calc((248/800)*100vw);
    button{
        span{
            font-family: OTDarakbangL;
            font-size: calc((36/800)*100vw);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.6px;
            color: #ff7f39;
        }
    }
}

.border-round{
  border-radius: 37.5px;
  border: solid 1px #ff7f39;
  margin-right: calc((72/800)*100vw);
  margin-left:calc((72/800)*100vw);
  ion-col{
    button{
        span{
            font-family: TTOmniGothicM;
            font-size: calc((24/800)*100vw);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: right;
            color: #ff7f39;           
        }
    }
  }
}

.cancelButtonHeight{
    height:calc((20/800)*100vw);
}

.notifyDone{
    height:calc((189/800)*100vw);
    color: #ff7f39;
    font-family: TTOmniGothicM;
    font-size: calc((24/800)*100vw);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
}

.waitee-symbol{
    width: calc((56/800)*100vw); 
    height: calc((61/800)*100vw);
    margin-top: calc((40/800)*100vw); 
    margin-bottom:calc((33/800)*100vw); 
}

}
