<ion-header>
<div class="header" text-center>
<b>지갑</b>
</div>

<div class="cash-only">
    <ion-row style="border:0px;" >
    <button no-margin no-padding  ion-button full   class="cash-label" style="font-size:4.5vw;"> <b>{{storageProvider.cashId}} </b></button>
    </ion-row>
    <ion-row class="cash-value-row" style="border:0px;"> 
    <button no-margin no-padding  ion-button  full class="cash-value"  style="font-size:4vw;"> 잔액: <amount-display [amount]="storageProvider.cashAmount"></amount-display>원</button>
    </ion-row>
    <ion-row class="next-step">
        <ion-col no-padding no-margin (click)="chargeCash()" class="left-button" ><button no-padding no-margin full clear ion-button>충전</button></ion-col>
        <ion-col no-padding no-margin><button (click)="refundCash()" no-padding no-margin full clear ion-button>환급</button></ion-col>
    </ion-row>
</div>

<div class="period-section">
  <ion-row>
  <ion-col text-right col-4>
  <ion-datetime text-center no-padding displayFormat="YYYY/MM/DD" min="2018"  [(ngModel)]="startDate"></ion-datetime>
  </ion-col>
  <ion-col text-center class="center" col-1>
      -
  </ion-col>
  <ion-col text-left col-4> 
  <ion-datetime text-center no-padding displayFormat="YYYY/MM/DD" min="2018"  [(ngModel)]="endDate"></ion-datetime>
  </ion-col>
  <ion-col col-3 text-right>
      <button class="search-button" (click)="searchPeriod()" no-padding no-margin ion-button>조회</button>
  </ion-col>
  </ion-row>
</div> 
</ion-header>
<ion-content>


<div *ngIf="cashList.length==0 && !periodSearch">
<div text-center>
    <ion-row text-center><ion-col style="padding-top:30px;font-size:4vw;">거래내역이 없습니다.</ion-col></ion-row>
    <ion-row text-center><ion-col><button ion-button clear style="color: #33b9c6;" (click)="cashTutorial()">캐쉬 충전 알아보기</button></ion-col></ion-row>
</div>
</div>

<div *ngIf="cashList.length>0">
<div *ngFor="let trans of cashList">
<div *ngIf="trans.transactionType=='refund'" class="transaction">
 <ion-row class="refund">
     <ion-col style="font-size:3.4vw;" col-3>
     {{trans.displayDate}}
     </ion-col>     
     <ion-col col-5 text-left>
         캐시환급
     </ion-col>
     <ion-col col-4 text-right>
         -<amount-display [amount]="trans.amount" ></amount-display>원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col col-3>
     {{trans.displayTime}}
     </ion-col>         
     <ion-col col-5 text-left>
     {{trans.bankName}} <span>(수수료: <amount-display [amount]="trans.fee"></amount-display>)</span>
     </ion-col>
     <ion-col col-4 text-right *ngIf="trans.nowBalance!=null && trans.nowBalance!=undefined">  
        <amount-display [amount]="trans.nowBalance"></amount-display>
     </ion-col>
 </ion-row>
</div>
<div *ngIf="trans.transactionType=='cancel'" class="transaction">
 <ion-row class="cancel">
     <ion-col style="font-size:3.4vw;" col-3>
      {{trans.displayDate}}
     </ion-col>         
     <ion-col col-5 text-left>
         {{trans.service}}&nbsp;주문취소
     </ion-col>
     <ion-col col-4 text-right>
         +<amount-display [amount]="trans.amount" ></amount-display>원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col col-3>
     {{trans.displayTime}}
     </ion-col>         
     <ion-col col-5 text-left>
     {{trans.brand}}
     </ion-col>
     <ion-col col-4 text-right *ngIf="trans.nowBalance!=null && trans.nowBalance!=undefined">  
        <amount-display [amount]="trans.nowBalance"></amount-display>
     </ion-col>
 </ion-row>
</div>

<div *ngIf="trans.transactionType=='payment'" class="transaction" >
 <ion-row class="payment">
     <ion-col style="font-size:3.4vw;" col-3>
      {{trans.displayDate}}
     </ion-col>              
     <ion-col col-5 text-left>
         {{trans.service}}
     </ion-col>
     <ion-col col-4 text-right>
         -<amount-display [amount]="trans.amount"></amount-display>원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col col-3>
     {{trans.displayTime}}
     </ion-col>         
     <ion-col col-5 text-left>
     {{trans.brand}}
     </ion-col>
     <ion-col col-4 text-right *ngIf="trans.nowBalance!=null && trans.nowBalance!=undefined">  
        <amount-display [amount]="trans.nowBalance"></amount-display>
     </ion-col>
 </ion-row>
</div>
<div *ngIf="trans.transactionType=='deposit' && trans.confirm=='1'" class="transaction">
 <ion-row class="charge-done">
     <ion-col style="font-size:3.4vw;" col-3>
      {{trans.displayDate}}
     </ion-col>     
     <ion-col col-5 text-left>
         충전
     </ion-col>
     <ion-col col-4 text-right>
         +<amount-display [amount]="trans.amount" ></amount-display>원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col col-3>
     {{trans.displayTime}}
     </ion-col>              
     <ion-col col-5 text-left>
     {{trans.bankName}}
     </ion-col>
     <ion-col col-4 text-right *ngIf="trans.nowBalance!=null && trans.nowBalance!=undefined">  
        <amount-display [amount]="trans.nowBalance"></amount-display>
     </ion-col>
 </ion-row>
</div>
<div *ngIf="trans.transactionType=='deposit' && trans.confirm=='0'" class="transaction">
<ion-row class="charge-waiting">
    <button no-padding no-margin ion-button clear full (click)="cashConfirm(trans)">
     <ion-col style="font-size:3.4vw;text-align:-webkit-left;" col-3>
     {{trans.displayDate}}
     </ion-col>                    
     <ion-col col-5 text-left class="charge-waiting-left" text-left>
         <b>입금확인 대기중!</b>
     </ion-col>
     <ion-col col-4 text-right>
         +<amount-display [amount]="trans.amount" ></amount-display>원
     </ion-col>
    </button>
 </ion-row>  
<ion-row class="extra-info">
     <ion-col col-3>
     {{trans.displayTime}}
     </ion-col>            
     <ion-col col-5 text-left>
     {{trans.bankName}}
     </ion-col>
     <ion-col *ngIf="trans.nowBalance!=null && trans.nowBalance!=undefined" col-4 text-right>  
        <amount-display [amount]="trans.nowBalance"></amount-display>
     </ion-col>
 </ion-row>
</div>
<div *ngIf="trans.transactionType=='coupon'"  class="transaction">
 <ion-row class="charge-done">
     <ion-col style="font-size:3.4vw;" col-3>
      {{trans.displayDate}}
     </ion-col>     
     <ion-col col-5 text-left>
         쿠폰
     </ion-col>
     <ion-col col-4 text-right>
         +<amount-display [amount]="trans.amount" ></amount-display>원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col col-3>
     {{trans.displayTime}}
     </ion-col>              
     <ion-col col-5 text-left>
       {{trans.couponName}}
     </ion-col>
     <ion-col col-4 text-right *ngIf="trans.nowBalance!=null && trans.nowBalance!=undefined">  
        <amount-display [amount]="trans.nowBalance"></amount-display>
     </ion-col>
 </ion-row>
</div>
</div>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</div>

<ion-fab bottom left *ngIf="storageProvider.tourMode">
    <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
      <custom-icon set="tabs" name="exit"></custom-icon>
    </button>
</ion-fab>

<ion-fab bottom right>
    <button class="fab-btn" style="border-radius:5px;font-size:4vw;color:white;background-color:#2e4996;margin-bottom:2vw;height:10vw;width:25vw;" round ion-fab (click)="launchToss()" color="white"> 
        <b style="font-size:4vw;">Toss로 입금</b> 
    </button>
    <button class="fab-btn" style="background-color:yellow;color:#FF5F3A;margin-bottom:2vw;margin-left:5vw;" ion-fab (click)="launchKakaoPlus()" ion-fab color="white"> 
        <custom-icon set="tabs" name="plus" style="font-size: 6vw !important; padding: 0px;"></custom-icon>
    </button>        
</ion-fab>
</ion-content>

