<ion-content>
<div class="header" text-center>
<b>지갑</b>
</div>

<div class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                <ion-col class="cash-card card-unselect-border scroll-col-latest" text-center no-padding >

                  <ion-row  style="border:0px;" >
                  <button no-margin no-padding  ion-button full  class="cash-label" style="font-size:4.5vw;"> <b><custom-icon set="tabs" name="coin"></custom-icon>웨이티 캐시</b></button>
                  </ion-row>
                  <ion-row class="cash-value-row" style="border:0px;"> 
                  <button no-margin no-padding  ion-button  full full class="cash-value" style="font-size:4vw;"> 잔액: {{storageProvider.cashAmount}}원</button>
                  </ion-row>
                  <ion-row>
                      <ion-col no-padding no-margin (click)="chargeCash()" class="left-button" ><button no-padding no-margin full clear ion-button>충전</button></ion-col>
                      <ion-col no-padding no-margin><button (click)="refundCash()" no-padding no-margin full clear ion-button>환급</button></ion-col>
                  </ion-row>
                </ion-col>
                 <ion-col  class="scroll-col-latest card-card card-unselect-border"  [style.background-color]="payment.background" *ngFor="let payment of storageProvider.payInfo;let i=index;" no-padding>
                            <ion-row class="card-remove"><ion-col col-10 no-padding no-margin >&nbsp;</ion-col> 
                                    <ion-col col-2 no-padding no-margin><button (click)="removeCard(i)" no-padding no-margin ion-button clear style="color:white;"><ion-icon name="md-close"></ion-icon></button></ion-col>
                            </ion-row>
                            <button class="card-button"   full clear no-padding no-margin ion-button>
                             {{payment.info.name}} 
                            </button>                     
                            <button style="font-size:4vw;" class="card-button" full clear no-padding no-margin ion-button>
                             {{payment.info.mask_no}}
                            </button>
                </ion-col>
                 <ion-col text-center class="card-add card-button scroll-col-latest"  no-padding>
                              <ion-row text-center class="card-add-label"><b style="font-size:4.5vw;">카드 등록</b></ion-row>
                              <ion-row text-center class="card-add-label"><span style="font-size:3.4vw;">10원이 결제되고 등록 후 취소됩니다</span></ion-row>
                              <ion-row text-center>
                                <button style="background-color:#e8e8e8;;color:#6441a5;" (click)="addCard()" no-padding no-margin full ion-button>
                                    <b style="font-size:4.8vw;"><ion-icon name="ios-add-circle-outline"></ion-icon></b>
                                </button>
                              </ion-row>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>

<div class="period-section" [hidden]="search_mode=='full'">
    <ion-row>
        <ion-col>
        </ion-col>
        <ion-col text-right>
            <button (click)="closeSearchMode()" class="close-button" no-padding no-margin ion-button clear>
                검색창 접기 &nbsp; <ion-icon name="ios-close"> </ion-icon>
            </button>
        </ion-col>
    </ion-row>
  <ion-row>
  <ion-col text-right col-5>
  <ion-datetime text-center no-padding displayFormat="YYYY/MM/DD" min="2018" (ionChange)="startPicker(startDate)" [(ngModel)]="startDate"></ion-datetime>
  </ion-col>
  <ion-col text-center class="center" col-1>
      -
  </ion-col>
  <ion-col text-left col-6> 
  <ion-datetime text-center no-padding displayFormat="YYYY/MM/DD" min="2018" (ionChange)="endPicker(endDate)" [(ngModel)]="endDate"></ion-datetime>
  </ion-col>
  </ion-row>
  <ion-row>
        <ion-col class="search-button" no-padding text-right>
            <button (click)="search()" class="close-button" no-padding no-margin ion-button clear>
                조회하기 &nbsp; <ion-icon name="ios-search"> </ion-icon>
            </button>
        </ion-col>
    </ion-row>
</div> 

<div class="search-button"  [hidden]="search_mode!='full'">
<button (click)="configureSearchMode()" no-padding no-margin ion-button full clear >
  <ion-row style="width:100%">
    <ion-col col-11 text-right>
        기간 검색
    </ion-col>    
    <ion-col col-1>
        <ion-icon name="ios-search"> </ion-icon>     
    </ion-col>
  </ion-row>
</button>
</div>

<div *ngFor="let trans of cashList">
<div *ngIf="trans.transactionType=='refund'" class="transaction">
 <ion-row class="refund">
     <ion-col text-left>
         캐시환급
     </ion-col>
     <ion-col text-right>
         -{{trans.amount}}원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col text-left>
     {{trans.bankName}} <span>(수수료:-500)</span>
     </ion-col>
     <ion-col text-right>  
     {{trans.displayTime}}
     </ion-col>
 </ion-row>
</div>
<div *ngIf="trans.transactionType=='cancel'" class="transaction">
 <ion-row class="cancel">
     <ion-col text-left>
         {{trans.service}}주문취소
     </ion-col>
     <ion-col text-right>
         +{{trans.amount}}원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col text-left>
     {{trans.brand}}
     </ion-col>
     <ion-col text-right>  
     {{trans.displayTime}}
     </ion-col>
 </ion-row>
</div>

<div *ngIf="trans.transactionType=='payment'" class="transaction" >
 <ion-row class="payment">
     <ion-col text-left>
         {{trans.service}}
     </ion-col>
     <ion-col text-right>
         -{{trans.amount}}원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col text-left>
     {{trans.brand}}
     </ion-col>
     <ion-col text-right>  
     {{trans.displayTime}}
     </ion-col>
 </ion-row>
</div>
<div *ngIf="trans.transactionType=='deposit' && trans.confirm=='1'" class="transaction">
 <ion-row class="charge-done">
     <ion-col text-left>
         충전
     </ion-col>
     <ion-col text-right>
         +{{trans.amount}}원
     </ion-col>
 </ion-row>
 <ion-row class="extra-info">
     <ion-col text-left>
     {{trans.bankName}}
     </ion-col>
     <ion-col text-right>  
     {{trans.displayTime}}
     </ion-col>
 </ion-row>
</div>
<div *ngIf="trans.transactionType=='deposit' && trans.confirm=='0'" class="transaction">
<ion-row class="charge-waiting">
    <button no-padding no-margin ion-button clear full>
     <ion-col text-left class="charge-waiting-left" text-left>
         <b>입금확인 대기중!</b>
     </ion-col>
     <ion-col text-right>
         +{{trans.amount}}원
     </ion-col>
    </button>
 </ion-row>  
<ion-row class="extra-info">
     <ion-col text-left>
     {{trans.bankName}}
     </ion-col>
     <ion-col text-right>  
     {{trans.displayTime}}
     </ion-col>
 </ion-row>
</div>
</div>

<ion-fab bottom left *ngIf="storageProvider.tourMode">
    <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
      <custom-icon set="tabs" name="exit"></custom-icon>
    </button>
</ion-fab>

</ion-content>

