<!--
  Generated template for the MenuMoalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button class="backBtn" (click)="cancell()"> 취소 </button>
            <ion-title>
                메뉴
            </ion-title>
        <button class="completeBtn" [hidden]="!flags.add" (click)="addMenuInfo()">추가</button>
        <button class="completeBtn" [hidden]="flags.add" (click)="modifyMenuInfo()">수정</button>
  </ion-navbar>
</ion-header>

<!--<ion-tabs>
  <ion-tab  tabTitle="Show Modal"></ion-tab>
</ion-tabs>-->
<ion-content class="menuContent" >
    <!--<form #form="ngForm" (ngSubmit)="menuSubmit()" novalidate>-->
    <ion-segment [(ngModel)]="menuSelected">
            <ion-segment-button [value]="1" (click)="segmentChange()">한글</ion-segment-button>
            <ion-segment-button [value]="2" (click)="segmentChange()">영문</ion-segment-button>
    </ion-segment>        

    <ion-item-divider>기본 정보</ion-item-divider>
    <ion-row [hidden]="flags.segment" >
        <ion-col >
            <ion-item>
                <ion-label stacked>메뉴명</ion-label>
                <ion-input  [(ngModel)]="menu.menuName"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment">
        <ion-col >
            <ion-item >
                <ion-label stacked>메뉴명(영문)</ion-label>
                <ion-input [(ngModel)]="menu.menuNameEn"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <!--  filter-begin  -->
    <div *ngIf="storageProvider.storeType=='restaurant'">
    <ion-row [hidden]="!flags.segment">
          <ion-col>
            <ion-item no-ilnes>
                <ion-label >소고기포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.filter.beef.include" style="border:0;" ></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
     <ion-row [hidden]="!flags.segment || !menu.filter.beef.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(한글)</ion-label>
                <ion-input [(ngModel)]="menu.filter.beef.freeKor"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.beef.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(영문)</ion-label>
                <ion-input [(ngModel)]="menu.filter.beef.freeEn"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >돼지고기포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.filter.pork.include" style="border:0;" ></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.pork.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(한글)</ion-label>
                <ion-input [(ngModel)]="menu.filter.pork.freeKor"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.pork.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(영문)</ion-label>
                <ion-input [(ngModel)]="menu.filter.pork.freeEn"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row [hidden]="!flags.segment">
          <ion-col>
            <ion-item no-ilnes>
                <ion-label >닭고기포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.filter.chicken.include" style="border:0;" ></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.chicken.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(한글)</ion-label>
                <ion-input [(ngModel)]="menu.filter.chicken.freeKor"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.chicken.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(영문)</ion-label>
                <ion-input [(ngModel)]="menu.filter.chicken.freeEn"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row [hidden]="!flags.segment">
        <ion-col>
            <ion-item no-ilnes>
                <ion-label>생선포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.filter.fish.include" style="border:0;" ></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.fish.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(한글)</ion-label>
                <ion-input [(ngModel)]="menu.filter.fish.freeKor"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.fish.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(영문)</ion-label>
                <ion-input [(ngModel)]="menu.filter.fish.freeEn"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment">
          <ion-col>
            <ion-item no-ilnes>
                <ion-label >계란포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.filter.egg.include" style="border:0;" ></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row [hidden]="!flags.segment || !menu.filter.egg.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(한글)</ion-label>
                <ion-input [(ngModel)]="menu.filter.egg.freeKor"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row [hidden]="!flags.segment || !menu.filter.egg.include">     
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >제외옵션(영문)</ion-label>
                <ion-input [(ngModel)]="menu.filter.egg.freeEn"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    </div>
    <!--  filter-end  -->
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label stacked>가격</ion-label>
                <ion-input [(ngModel)]="menu.price"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label stacked>순서</ion-label>
                <ion-input type="number" [(ngModel)]="menu.menuSeq"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col *ngIf="storageProvider.shopInfo.stamp!=null &&  storageProvider.shopInfo.stamp">
            <ion-item>
                <ion-label stacked>제공스탬프수</ion-label>
                <ion-input type="number" [(ngModel)]="menu.stampCount"></ion-input>
            </ion-item>            
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-item style="width:58%;">
            <ion-label stacked>사진</ion-label>
            <ion-input type="file" (input)="fileChange($event)" ></ion-input>  
<!--
            <input type="file" value="" (change)="fileChange($event)">
-->            
        </ion-item>
        <!--메뉴추가(수정)에서 동시 리퀘스트 할 경우에는 안됨file upload 에러 발생 (이름 중복 이라던지) 됐을 시 처리 불가,
            업로드 리퀘스트 후 추가(수정) 리퀘스트 발생 시킬 수 있으나,
            매번 사진업로드 작업이 필요하므로 업로드 버튼을 만드는 것이 나은 것 같다 
         <button (click)="uploadMenuImage(imageURI)" ion-button small>업로드</button>  
        -->
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <img style="width:30vw;height:30vw" *ngIf="img1" [src]="img1">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >포장가능</ion-label>
                <ion-checkbox [(ngModel)]="menu.takeout" style="border:0;" ></ion-checkbox>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item no-ilnes>
                <ion-label >배달가능</ion-label>
                <ion-checkbox [(ngModel)]="menu.delivery" (click)="deliveryClick()" style="border:0;" ></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                <ion-label >비활성화 </ion-label>
                <ion-checkbox [(ngModel)]="menu.deactive" style="border:0;" ></ion-checkbox>
            </ion-item>
            </ion-col>
        </ion-row> 
        <ion-row>
        <ion-col>
            <ion-item>
                <ion-label>시간제한</ion-label>
                <ion-checkbox [(ngModel)]="timeConstraint"></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="timeConstraint">
        <ion-col>
            <ion-item>
                <ion-label>from</ion-label>
                <ion-checkbox [(ngModel)]="from"></ion-checkbox>
            </ion-item>            
        </ion-col>
        <ion-col>
            <ion-select [(ngModel)]="fromHour" placeholder="시">
                <ion-option *ngFor="let hour of fromHours" [value]="hour">{{hour}}</ion-option>
             </ion-select>
        </ion-col>        
        <ion-col>
            <ion-select [(ngModel)]="fromMin" placeholder="분">
                <ion-option *ngFor="let min of minutes" [value]="min">{{min}}</ion-option>
             </ion-select>
        </ion-col>        
    </ion-row>
    <ion-row *ngIf="timeConstraint">
        <ion-col>
            <ion-item>
                <ion-label>to</ion-label>
                <ion-checkbox [(ngModel)]="to"></ion-checkbox>
            </ion-item>            
        </ion-col>
        <ion-col>
            <ion-select [(ngModel)]="toHour" placeholder="시">
                <ion-option *ngFor="let hour of toHours" [value]="hour">{{hour}}</ion-option>
             </ion-select>
        </ion-col>    
        <ion-col>
            <ion-select [(ngModel)]="toMin" placeholder="분">
                <ion-option *ngFor="let min of minutes" [value]="min">{{min}}</ion-option>
             </ion-select>
        </ion-col>                    
    </ion-row>
    <ion-row *ngIf="to && from">
        <ion-col>
            <ion-item>
            <ion-select interface='popover' [(ngModel)]="condition">
                <ion-option value="XOR" selected>제외조건(-to,from-)</ion-option>
                <ion-option value="AND">포함조건(from-to)</ion-option>
            </ion-select>
            </ion-item>
        </ion-col>        
    </ion-row>
    

    <ion-item-divider>추가 정보</ion-item-divider>
    <ion-row [hidden]="flags.segment">
        <ion-item>
            <ion-label stacked>설명</ion-label>
            <ion-input max=100 [(ngModel)]="menu.explanation" ></ion-input>
        </ion-item>
    </ion-row>

    <ion-row [hidden]="!flags.segment">
        <ion-item>
            <ion-label stacked>설명(영문)</ion-label>
            <ion-input [(ngModel)]="menu.explanationEn" ></ion-input>
        </ion-item>
    </ion-row>

    <ion-row [hidden]="flags.segment">
        <ion-item>
            <ion-label stacked>재료</ion-label>
            <!--
                <ion-input [(ngModel)]="menu.ingredient" ></ion-input>
            -->
            <ion-textarea max=200 [(ngModel)]="menu.ingredient" ></ion-textarea>
        </ion-item>
    </ion-row>
    <ion-row [hidden]="!flags.segment">
        <ion-item>
            <ion-label stacked>재료(영문)</ion-label>
            <ion-input [(ngModel)]="menu.ingredientEn" ></ion-input>
        </ion-item>
    </ion-row>

 
    <div [hidden]="flags.segment" *ngFor="let option of menu.options; let i=index">
        <ion-item-divider>옵션 {{i+1}} 
            <button style="float:right" (click)="removeOption(i)" ion-button color="light">
                <ion-icon name="md-trash"></ion-icon></button>
        </ion-item-divider>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked>옵션명</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].name" ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label stacked>가격</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].price" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label stacked>기본값</ion-label>
                <ion-input [(ngModel)]="menu.options[i].default" ></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
                <ion-col>
                <ion-item>
                    <ion-label stacked>flag 옵션(숫자가 아닌 선택,비선택만가능)</ion-label>
                    <ion-checkbox [(ngModel)]="menu.options[i].flagType" style="border:0;" ></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="menu.options[i].flagType">
            <ion-col>
                <ion-label stacked> 종속 옵션</ion-label>
                <ion-checkbox [(ngModel)]="menu.options[i].extendedOptionExist"  (ionChange)="updateFlag(menu.options[i])" style="border:0;" ></ion-checkbox>            
            </ion-col>
        </ion-row>
        <ion-row *ngIf="menu.options[i].flagType && menu.options[i].extendedOptionExist">
            <ion-col>
                <ion-item>
                    <ion-label stacked> 종속명</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].extendedOption.name" ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label stacked>종속 가격</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].extendedOption.price" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="menu.options[i].flagType && menu.options[i].extendedOptionExist">
            <ion-col>
                <ion-item>
                    <ion-label stacked>종속 flag 옵션</ion-label>
                    <ion-checkbox [(ngModel)]="menu.options[i].extendedOption.flagType" style="border:0;" ></ion-checkbox>
                </ion-item>
            </ion-col>            
        </ion-row>        
        <ion-row *ngIf="menu.options[i].flagType  && menu.options[i].extendedOptionExist">
            <ion-col>
                <ion-item>
                    <ion-label stacked>메뉴가격무시</ion-label>
                    <ion-checkbox [(ngModel)]="menu.options[i].extendedOption.ignoreUnitPrice" style="border:0;" ></ion-checkbox>
                </ion-item>
            </ion-col>            
        </ion-row>
        <div *ngIf="option.choice !== undefined">
        <ion-row >
            <ion-col>
                <!--<ion-item  *ngFor ="let choice of menu.options[i].choice; let j=index">-->
                <ion-item *ngIf="option.choice[0] !== undefined">
                    <ion-label stacked>선택항목1</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].choice[0]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="option.choice[0] !== undefined" style="float:right;" (click)="removeSelectMenu(i,0)" ion-button icon-only color="white">
                <ion-icon name="md-trash"></ion-icon></button>
            <ion-col >
                <!--<ion-item  *ngFor ="let choice of menu.options[i].choice; let j=index">-->
                <ion-item *ngIf="option.choice[1] !== undefined"> 
                    <ion-label stacked>선택항목2</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].choice[1]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="option.choice[1] !== undefined" style="float:right;" (click)="removeSelectMenu(i,1)" ion-button icon-only color="white">
            <ion-icon name="md-trash"></ion-icon></button>
        </ion-row>
        <ion-row>
            <ion-col >
                <ion-item *ngIf="option.choice[2] !== undefined">
                    <ion-label stacked>선택항목3</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].choice[2]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="option.choice[2] !== undefined" style="float:right;" (click)="removeSelectMenu(i,2)" ion-button icon-only color="white">
                    <ion-icon name="md-trash"></ion-icon></button>
            <ion-col>
                <ion-item *ngIf="option.choice[3] !== undefined">
                    <ion-label stacked>선택항목4</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].choice[3]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="option.choice[3] !== undefined" style="float:right;" (click)="removeSelectMenu(i,3)" ion-button icon-only color="white">
                <ion-icon name="md-trash"></ion-icon></button>
        </ion-row>
        <ion-row>
            <ion-col >
                <ion-item *ngIf="option.choice[4] !== undefined">
                    <ion-label stacked>선택항목5</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].choice[4]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="option.choice[4] !== undefined" style="float:right;" (click)="removeSelectMenu(i,4)" ion-button icon-only color="white">
                    <ion-icon name="md-trash"></ion-icon></button>
            <ion-col>
                <ion-item *ngIf="option.choice[5] !== undefined">
                    <ion-label stacked>선택항목6</ion-label>
                    <ion-input [(ngModel)]="menu.options[i].choice[5]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="option.choice[5] !== undefined" style="float:right;" (click)="removeSelectMenu(i,5)" ion-button icon-only color="white">
                <ion-icon name="md-trash"></ion-icon></button>
        </ion-row>        
        </div>

        <ion-row >
            <ion-item  no-lines class="addOption">
                <button (click)="addSelectMenu(i)" ion-button icon-left color="white" >
                    <ion-icon name="md-add"></ion-icon>선택항목</button>
            </ion-item>
        </ion-row>
    </div>


    <!-- !!!!!!!!!!!! 영문 옵션-->

    <div [hidden]="!flags.segment" *ngFor="let optionEn of menu.optionsEn; let i=index">
        <ion-item-divider>옵션(영문) {{i+1}} 
            <button style="float:right" (click)="removeOptionEn(i)" ion-button color="light">
                <ion-icon name="md-trash"></ion-icon></button>
        </ion-item-divider>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked>옵션명(영문)</ion-label>
                    <ion-input [(ngModel)]="menu.optionsEn[i].name" ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label stacked>옵션명(한글)</ion-label>
                    <ion-input [(ngModel)]="menu.optionsEn[i].korean" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
                <ion-col>
                <ion-item>
                    <ion-label stacked>flag 옵션(숫자가 아닌 선택,비선택만가능)</ion-label>
                    <ion-checkbox [(ngModel)]="menu.optionsEn[i].flagType" style="border:0;" ></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>        
        <ion-row>
            <ion-col>
            <ion-item no-ilnes>
                <ion-label >소고기포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.optionsEn[i].beef" style="border:0;" ></ion-checkbox>
            </ion-item>
            </ion-col>
            <ion-col>
            <ion-item no-ilnes>
                <ion-label >돼지고기포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.optionsEn[i].pork" style="border:0;" ></ion-checkbox>
            </ion-item>
            </ion-col>            
        </ion-row>
        <ion-row>
            <ion-col>
            <ion-item no-ilnes>
                <ion-label >닭고기포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.optionsEn[i].chicken" style="border:0;" ></ion-checkbox>
            </ion-item>
            </ion-col>
            <ion-col>
            <ion-item no-ilnes>
                <ion-label >생선포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.optionsEn[i].fish" style="border:0;" ></ion-checkbox>
            </ion-item>
            </ion-col>            
        </ion-row>
        <ion-row>
            <ion-col>
            <ion-item no-ilnes>
                <ion-label >계란포함</ion-label>
                <ion-checkbox [(ngModel)]="menu.optionsEn[i].egg" style="border:0;" ></ion-checkbox>
            </ion-item>
            </ion-col>         
        </ion-row>       
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked>가격</ion-label>
                    <ion-input [(ngModel)]="menu.optionsEn[i].price" ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
        <div *ngIf="optionEn.choice !== undefined">
        <ion-row >
            <ion-col>
                <!--<ion-item  *ngFor ="let choice of menu.options[i].choice; let j=index">-->
                <ion-item *ngIf="optionEn.choice[0] !== undefined">
                    <ion-label stacked>선택항목1(영문)</ion-label>
                    <ion-input [(ngModel)]="menu.optionsEn[i].choice[0]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="optionEn.choice[0] !== undefined" style="float:right;" (click)="removeSelectMenuEn(optionEn,0)" ion-button icon-only color="white">
                <ion-icon name="md-trash"></ion-icon></button>
            <ion-col >

                <!--ㅜ not operate this logic-->
                <!--<ion-item  *ngFor ="let choice of menu.options[i].choice; let j=index">-->
                <ion-item *ngIf="optionEn.choice[1] !== undefined"> 
                    <ion-label stacked>선택항목2(영문)</ion-label>
                    <ion-input [(ngModel)]="menu.optionsEn[i].choice[1]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="optionEn.choice[1] !== undefined" style="float:right;" (click)="removeSelectMenuEn(optionEn,1)" ion-button icon-only color="white">
            <ion-icon name="md-trash"></ion-icon></button>
        </ion-row>
        <ion-row>
            <ion-col >
                <ion-item *ngIf="optionEn.choice[2] !== undefined">
                    <ion-label stacked>선택항목3(영문)</ion-label>
                    <ion-input [(ngModel)]="menu.optionsEn[i].choice[2]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="optionEn.choice[2] !== undefined" style="float:right;" (click)="removeSelectMenuEn(optionEn,2)" ion-button icon-only color="white">
                    <ion-icon name="md-trash"></ion-icon></button>
            <ion-col>
                <ion-item *ngIf="optionEn.choice[3] !== undefined">
                    <ion-label stacked>선택항목4(영문)</ion-label>
                    <ion-input [(ngModel)]="menu.optionsEn[i].choice[3]" ></ion-input>
                </ion-item>
            </ion-col>
            <button *ngIf="optionEn.choice[3] !== undefined" style="float:right;" (click)="removeSelectMenuEn(optionEn,3)" ion-button icon-only color="white">
                <ion-icon name="md-trash"></ion-icon></button>
        </ion-row>
        </div>

        <ion-row >
            <ion-item  no-lines class="addOption">
                <button (click)="addSelectMenuEn(optionEn)" ion-button icon-left color="white" >
                    <ion-icon name="md-add"></ion-icon>선택항목</button>
            </ion-item>
        </ion-row>
    </div>

    <ion-row [hidden]="flags.segment">
        <ion-item  no-lines class="addOption">
        <button color="white" (click)="addOption()" ion-button icon-left>
            <ion-icon name="md-add"></ion-icon>옵션</button>
        </ion-item>
    </ion-row>

    <ion-row [hidden]="!flags.segment">
        <ion-item  no-lines class="addOption">
        <button color="white" (click)="addOptionEn()" ion-button icon-left>
            <ion-icon name="md-add"></ion-icon>옵션(영어)</button>
        </ion-item>
    </ion-row>
    <!--</form>-->
</ion-content>
