<ion-content >
<!--
<button text-left ion-button (click)="showSearchBar()" class="searchbar-button">
  <ion-icon name="ios-search-outline"></ion-icon> 
  <span text-left>원하는 음식점을 검색하세요!</span>
</button>
-->
<p class="section-title"><b>추천 음식점</b></p>
<div class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                 <ion-col *ngFor="let shop of storageProvider.recommendations" class="scroll-col-latest"  no-padding>
                            <button class="shop-button" (click)="enterShop(shop.takitId)" no-padding no-margin ion-button>
                                <img  [src]="storageProvider.awsS3+shop.imagePath">
                                <p class="name-sub">{{shop.name_sub}}</p>
                                <p class="name-main"><b>{{shop.name_main}}</b></p>
                                <p class="classification">
                                  <span class="noti-box" *ngIf="shop.paymethod.cash!=undefined">캐시<b *ngIf="shop.paymethod.cash!=undefined && shop.paymethod.cash!='0%'">{{shop.paymethod.cash}}</b></span>
                                  <span *ngIf="shop.paymethod.cash!=undefined"></span>
                                  <span class="noti-box" *ngIf="shop.paymethod.card!=undefined">카드<b *ngIf="shop.paymethod.card!=undefined && shop.paymethod.card!='0%'">{{shop.paymethod.card}}</b></span>
                                  <span *ngIf="shop.paymethod.card!=undefined"></span>
                                  <span class="noti-box" *ngIf="shop.deliveryArea!=undefined && shop.deliveryArea!=null">배달</span>                                  
                                </p>
                                <p class="name-classification">{{shop.classification}}&nbsp;
                            </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>

<div *ngIf="storageProvider.shopList==null || storageProvider.shopList==undefined || storageProvider.shopList.length==0">
    <p class="section-title">웨이티에 오신 것을 환영합니다!</p>
    <p class="section-title">첫주문을 해주시겠어요?</p>
    <div text-right>
        <img class="profile-smile" src="assets/imgs/profile-smile.png">
    </div>
</div>

<p *ngIf="storageProvider.shopList!=null && storageProvider.shopList!=undefined && storageProvider.shopList.length!=0" style="margin-top:0px;" class="section-title"><b>즐겨찾는 메뉴</b></p>
<div *ngIf="storageProvider.shopList.length!=0 && menus.length!=0">
    <ion-row *ngFor="let menu of menus" >
                <ion-col col-2 align-self-center>
                      <img  style="width:15vw;"[src]="menu.fullImagePath">
                </ion-col>
                <ion-col text-left align-self-center>
                    <ion-row no-padding no-margin>
                        <ion-col class="name-main">        
                            <b>{{menu.menuName}}&nbsp;({{menu.count}}회)</b> 
                        </ion-col>
                        <ion-col col-4 text-right>
                            <amount-display [amount]="menu.price"></amount-display>원
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding no-margin>    
                        {{menu.name_sub}} {{menu.name_main}}
                    </ion-row>
                </ion-col>
                <ion-col col-2 text-right align-self-center>
                    <button style="width:100%;font-size:3.4vw;" color="secondary" outline (click)="selectMenu(menu)" no-padding no-margin ion-button>
                                바로주문
                    </button>
                </ion-col>
    </ion-row>
</div>
<!--
<p *ngIf="storageProvider.shopList.length!=0" class="section-title section-shop-title"><b>즐겨찾는 음식점</b></p>
<div *ngIf="storageProvider.shopList.length!=0 && shops.length!=0" >
            <ion-row>
                <ion-col *ngIf="shops.length>0" class="col-left">
                            <button color="white" class="shop-button" (click)="enterShop(shops[0].takitId)" no-padding no-margin ion-button>
                                <img  [src]="shops[0].imagePath">
                                <p class="name-sub">{{shops[0].name_sub}}</p>
                                <p class="name-main"><b>{{shops[0].name_main}}&nbsp;({{shops[0].count}}회)</b></p>
                            </button>
                </ion-col>
                <ion-col *ngIf="shops.length>1">
                            <button color="white" class="shop-button" (click)="enterShop(shops[1].takitId)" no-padding no-margin ion-button>
                                <img  [src]="shops[1].imagePath">
                                <p class="name-sub">{{shops[1].name_sub}}</p>
                                <p class="name-main"><b>{{shops[1].name_main}}&nbsp;({{shops[1].count}}회)</b></p>
                            </button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="shops.length>2">
                <ion-col *ngIf="shops.length>2" class="col-left">
                            <button color="white" class="shop-button"  (click)="enterShop(shops[2].takitId)" no-padding no-margin ion-button>
                                <img  [src]="shops[2].imagePath">
                                <p class="name-sub">{{shops[2].name_sub}}</p>
                                <p class="name-main"><b>{{shops[2].name_main}}&nbsp;({{shops[2].count}}회)</b></p>
                            </button>
                </ion-col>
                <ion-col *ngIf="shops.length>3">
                            <button color="white" class="shop-button"(click)="enterShop(shops[3].takitId)"  no-padding no-margin ion-button>
                                <img  [src]="shops[3].imagePath">
                                <p class="name-sub">{{shops[3].name_sub}}</p>
                                <p class="name-main"><b>{{shops[3].name_main}}&nbsp;({{shops[3].count}}회)</b></p>
                            </button>
                </ion-col>
            </ion-row>            
</div>
-->
<!--
<p  class="section-title"><b>최근 주문 음식점</b></p>
<div *ngIf="storageProvider.shopList==null || storageProvider.shopList==undefined || storageProvider.shopList.length==0">
<p class="section-title">웨이티에 오신 것을 환영합니다!</p>
<p class="section-title">첫주문을 해주시겠어요?</p>
<div text-right>
<img class="profile-smile" src="assets/imgs/profile-smile.png">
</div>
</div>

<div *ngIf="storageProvider.shopList!=null && storageProvider.shopList!=undefined && storageProvider.shopList.length>0" class="scroll-div">
        <ion-scroll scrollX="true" class="scroll-latest">
            <ion-row class="scroll-row-latest">
                 <ion-col *ngFor="let shop of storageProvider.shopList" class="scroll-col-latest"  no-padding>
                            <button color="white" class="shop-button" (click)="enterShop(shop.takitId)" no-padding no-margin ion-button>
                                <img  [src]="storageProvider.awsS3+shop.imagePath">
                                <p class="name-sub">{{shop.name_sub}}</p>
                                <p class="name-main"><b>{{shop.name_main}}</b></p>
                                <p class="classification">
                                  <span class="noti-box" *ngIf="shop.paymethod!=undefined && shop.paymethod.cash!=undefined">캐시<b *ngIf="shop.paymethod!=undefined && shop.paymethod.cash!=undefined && shop.paymethod.cash!='0%'">{{shop.paymethod.cash}}</b></span>
                                  <span *ngIf="shop.paymethod!=undefined && shop.paymethod.cash!=undefined"></span>
                                  <span class="noti-box" *ngIf="shop.paymethod!=undefined && shop.paymethod.card!=undefined">카드<b *ngIf="shop.paymethod!=undefined && shop.paymethod.card!=undefined && shop.paymethod.card!='0%'">{{shop.paymethod.card}}</b></span>
                                  <span  *ngIf="shop.paymethod!=undefined && shop.paymethod.card!=undefined"></span>
                                  <span class="noti-box" *ngIf="shop.deliveryArea!=undefined && shop.deliveryArea!=null">배달</span>                                  
                                </p>
                            </button>
                </ion-col>
            </ion-row>
        </ion-scroll>
</div>
-->
<ion-fab bottom right>
    <button class="fab-btn" (click)="openCart()" ion-fab color="white">
      <custom-icon set="tabs" name="cart"></custom-icon>
    </button>
</ion-fab>
<ion-fab bottom left *ngIf="storageProvider.tourMode">
    <button class="fab-btn" (click)="exitTourMode()" ion-fab color="white">
      <custom-icon set="tabs" name="exit"></custom-icon>
    </button>
</ion-fab>


</ion-content>
